<article class="bar-w-pic {% if bestof is defined %}best-of{% endif %}">
    <a href="#0" class="btn-round dark star"></a>
    <div class="txt">
        {% if (bestof is defined) and ordered %}
            <span class="number h2">{{ loop.index }}</span>
        {% endif %}
        <h2>{{ b.name }}</h2>
        <h3>{% if b.suburb %}{{ b.suburb.name|default('Unspecified') }}, {% endif %}{% if b.city %}{{ b.city.name|default('Unspecified') }}{% endif %}</h3>
        <div class="hover">
            <div class="tags">
                {% for tr in b.tags %}
                    {{ tr.tag }}{% if not loop.last %}, {% endif %}
                {% endfor%}
            </div>
            {% if bestof is defined %}
                <div class="description">
                    {{ b.description|truncate(150, true)|striptags }}
                </div>
            {% endif %}
        </div>
    </div>
    {% if b.suburb %}
        <a href="{{ path('wbb_bar_details',{city: b.city, suburb: b.suburb, slug: b.slug}) }}" class="overlay-link"></a>
    {% endif %}
    <div class="color gradient"></div>
    <div class="color gray"></div>
    {% for m in b.medias|slice(0,1) %}
        <img class="scale-with-grid" data-src="{% path m.media, 'slider_large' %}"  alt="{{ b.name }}" width="570" height="428"/>
    {% endfor %}
</article>