<article class="bar-wo-pic">

    <a href="
       {% if app.user %}
           {% if b in app.user.favoriteBars %}
               {{ path('wbb_favorite_bar_delete', {'barId':b.id}) }}
           {% else%}
               {{ path('wbb_favorite_bar_add', {'barId':b.id}) }}
           {% endif %}
       {% else %}
           #
       {% endif %}" class="btn-round dark star nc favorite-btn"></a>

    <div class="txt">
        <h2>{{ b.name|truncate(30, true) }}</h2>
        <h3>{% if b.address %}{{ b.address|default('Unspecified')|truncate(20, true) }}, {% endif %}{% if b.city %}{{ b.city.name|default('Unspecified')|truncate(15, true) }}{% endif %}</h3>
    </div>

    <a href="{{ path('wbb_bar_details',{city: b.city, suburb: b.suburb, slug: b.slug}) }}" class="overlay-link"></a>

</article>