{% extends "::base.html.twig" %}

{% block title %}{{ bar.name }} | World Best Bars{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var barId = "{{ bar.id }}",
            venue  = "{{ bar.foursquare }}",
            imgs = [],
            i, m, n,
            html="";
    $(document).ready(function(){
        $.ajax({
            type: "POST",
            url:  Routing.generate('wbb_bar_feeds_list',
                    { type: "fsimgs", bar: barId }),
            dataType: 'json',
            success: function(r) {
                $.ajax({
                    type: "POST",
                    url:  Routing.generate('wbb_bar_feeds_find',
                            { type: "fsimgs", id: venue }),
                    dataType: 'json',
                    success: function(response) {
                        i = 0;
                        $.each(response.data, function(key, feed){
                            if(!in_array(feed.id, r) && i<5) {
                                //imgs.push(feed.prefix+"316x237"+feed.suffix);
                                html +='<div class="image"><div class="content"><div class="overlay"></div><a class="btn-round foursquare dark"></a><img src="'+feed.prefix+"320x240"+feed.suffix+'"/></div></div>';
                                i++;
                            }
                        });
                        $('.ui-slide').append(html);
                        imgs = $('.image');
                        $('.ui-slide').remove();
                        html = "";
                        for(n=0; n<Math.ceil(imgs.length/4); n++){
                            html+='<div class="ui-slide">';
                            for(m=n*4; m<(n+1)*4; m++){
                                if(imgs[m]){
                                    html+=nodeToString(imgs[m]);
                                }
                            }
                            html+='</div>';
                        }
                        //$('.ui-slide>div:nth-child(4n)').after('</div><div class="ui-slide">');
                        $(".loader").css('display','none');
                        $('.ui-slider').append(html);
                        initializeSliders();
                    },
                    error: function(e) {
                        console.log(e);
                        loader.hide();
                    }
                });
            },
            error: function(e) {
                console.log(e);
            }
        });
    });
</script>
{% endblock %}
{% block bodyTag %}
<body class="bar-details">
{% endblock %}
{% block body %}
    <!-- SUBHEADER -->
    <section class="container sub-header">

        <div class="three columns vcenter city-selector h4">
            You are in
            <a class="btn-radius with-icon border brown place" href="">{{ bar.city.name }}</a>
        </div>

        <div class="six columns title vcenter">
            <h1>{{ bar.name }}</h1>
            <h3>{{ bar.suburb.name }}, {{ bar.city.name }}</h3>
        </div>

        <div class="three columns star-share vcenter">
            <a class="btn-round brown star" href=""></a>
            <a class="btn-round brown share" href=""></a>
        </div>

    </section>
    <!-- SLIDER -->
    <div class="container full gallery">

        <div class="main">
            <div class="image">
                <div class="content">
                    <div class="overlay"></div>
                    <a class="btn-round dark"></a>
                    {% for m in bar.medias|slice(0,1) %}
                        <img src="{% path m.media, 'large' %}"/>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="ui-slider type-bar has_sizer arrows infinite" data-size="4x3">
            <img class="loader" src="{{ asset('bundles/wbbbar/img/loader.gif') }}" alt="" />
            <div class="ui-slide" style="display:none">
                     {% for m in bar.medias|slice(1,100) %}
                        <div class="image">
                            <div class="content">
                                <div class="overlay"></div>
                                <a class="btn-round dark"></a>
                                <img src="{% path m.media, 'big' %}" width="320" height="240"/>
                            </div>
                        </div>
                     {% endfor %}
            </div>

        </div>
    </div>


    <section class="container">
        <!-- MAIN CONTENT -->
        <article class="main">

            <div class="twelve columns h1 l-margin-top mobile-out">About the bar</div>

            <div class="eight columns l-margin-top">

                <p>
                    <strong>At a Glance : </strong>
                    {% for tr in bar.trends %}
                    {{ tr.trend }},
                    {% endfor%}<br/>
                    <br/>
                    {{ bar.description }}
                </p>

                <!-- ALSO APPEARS -->
                <div class="also-appears">
                    <hr class="l-margin"/>
                    <div class="m-margin-top h2">This bar appears also in</div>
                    <div class="m-margin-top h3">
                        <ul>
                            <li>
                                <a href="">
                                    Interview with Nick Miller
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Best Cocktails Bars in New York
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    The Bar Project from Ballantine’s
                                </a>
                            </li>
                        </ul>
                    </div>                    </div>
            </div>

            <!-- ASIDE -->
            <aside class="columns four">

                <div class="block informations">
                    <div class="contain">

                        <div class="gmap">
                            <div class="get-directions h4">
                                <a href="http://maps.google.com/maps?q={{ bar.latitude }},{{ bar.longitude }}" class="btn-small-radius border brown" target="_blank">Get Directions</a>
                            </div>
                            <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ bar.latitude }},{{ bar.longitude }}&zoom=16&size=660x240&maptype=roadmap&sensor=false"/>
                        </div>

                        <p>
                            {{ bar.address }}<br/>
                            {{ bar.city }}<br/>
                            {{ bar.phone }}<br/>
                            <a href="">info@macaonyc.com</a>
                            <br/>
                            {% if bar.website %}<a href="{{ bar.website }}" class="btn-small-round www brown"></a>{% endif %}
                            {% if bar.twitter %}<a href="http://www.twitter.com/{{ bar.twitter }}" class="btn-small-round twitter"></a>{% endif %}
                            {% if bar.facebook %}<a href="https://www.facebook.com/{{ bar.facebook }}" class="btn-small-round facebook"></a>{% endif %}
                        </p>

                        <hr class="s-margin"/>

                        <p>
                            Hours:
                            {% for opening in bar.openings|slice(0,1) %}
                                {{ opening.fromHour }} - {{ opening.toHour }}<br>
                            {% endfor%}
                            <a href="">(See all)</a><br/>
                            Accepts Credit Cards: {% if bar.isCreditCard %}yes{% else %}no{% endif %}<br/>
                            Coat Check: {% if bar.isCoatCheck %}yes{% else %}no{% endif %}<br/>
                            Parking: {{ bar.parking }}<br/>
                            Price: {{ bar.price }}  {% if bar.menu %}<a href="{{ bar.menu }}">(View menu)</a>{% endif %}<br/>
                            Reservation: {% if bar.isReservation %}yes{% else %}no{% endif %}<br/>
                            {% if bar.reservation %}<a href="{{ bar.reservation }}" class="btn-small-radius border brown">Make a Reservation</a>{% endif %}
                        </p>
                    </div>
                </div>

                <div class="block side-ad m-margin-top">
                    <img src="{{ asset('/bundles/wbbcore/images/tmp/ad.side.jameson.png') }}" alt="ad.jameson" width="300" height="250"/>
                    <div class="txt">Advertising</div>
                </div>
            </aside>

        </article>
    </section>

    <!-- INSIDER TIPS -->
    <section class="insider-tips m-margin-top">

        <div class="container load-container">

            <div class="twelve columns align-center l-margin-top m-margin-bottom h1">
                Insider Tips
            </div>

            <div class="line">

                <div class="three columns box">
                    <article class="tip">
                        <div class="content form">
                            <form>
                                <h3>Leave a tip</h3>
                                <textarea class="s-margin-top" name="" id="" placeholder="Type your tip ..."></textarea>
                                <div class="m-margin-top h4 count">499 left</div>
                                <input class="s-margin-top btn-small-radius brown" type="submit" value="Submit"/>
                            </form>
                            <br class="clear"/>
                        </div>
                    </article>                </div>

                <div class="six columns box">
                    <article class="tip">

                        <table class="content expert">

                            <tr class="excerpt">
                                <td colspan="2">
                                    “NY. This Portuguese/ Chinese fusion restaurant offers an exciting
                                    blend of exotic dishes that make dining at Macao a unique experience.”
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <hr class="s-margin-bottom"/>
                                </td>
                            </tr>

                            <tr class="author">
                                <td>
                                    <img src="{{ asset('/bundles/wbbcore/images/tmp/user.ryan.png') }}" alt="user" width="40" height="40"/>
                                </td>
                                <td>
                                    <b>Expert</b>                Ryan Melon, Liquid Relations
                                </td>
                            </tr>
                        </table>
                    </article>
                </div>

                <div class="three columns box">
                    <article class="tip">

                        <table class="content ">

                            <tr class="excerpt">
                                <td colspan="2">
                                    <img src="{{ asset('/bundles/wbbcore/images/icons/pin.foursquare-blue.png') }}" alt="icon.foursquare" width="30" height="30"/><br/>
                                    “NY. This Portuguese/ Chinese fusion restaurant offers an exciting
                                    blend of exotic dishes that make dining at Macao a unique experience.”
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <hr class="s-margin-bottom"/>
                                </td>
                            </tr>

                            <tr class="author">
                                <td>
                                    <img src="{{ asset('/bundles/wbbcore/images/tmp/user.ryan.png') }}" alt="user" width="40" height="40"/>
                                </td>
                                <td>
                                    Ryan Melon, Liquid Relations
                                </td>
                            </tr>
                        </table>
                    </article>
                </div>

            </div>

            <div class="line load-target"></div>


            <div class="twelve columns align-center m-margin">
                <a class="btn-radius border load-more brown" href="{{ asset('/bundles/wbbcore/images/tmp/data/tips.php') }}">Load More</a>
            </div>

        </div>

    </section>
    <!-- ALSO APPEARS -->

    <!-- ALSO LIKE -->
    <section class="also-like">

        <div class="container m-padding-bottom">

            <div class="h1 twelve columns align-center l-margin-top m-margin-bottom">
                You May Also Like
            </div>


            <div class="three columns">
                <article class="bar">

                    <a href="" class="btn-round dark star"></a>

                    <div class="txt">
                        <h2>Berry Park</h2>
                        <h3>Lower Manhattan, New York</h3>
                        <div class="tags">rooftop, romance, ambiente</div>
                    </div>

                    <div class="gradient"></div>
                    <img class="scale-with-grid" src="{{ asset('/bundles/wbbcore/images/tmp/bar.berry-park.png') }}" alt="bar.berry-park" width="570" height="428"/>
                </article>            </div>


            <div class="three columns">
                <article class="bar">

                    <a href="" class="btn-round dark star"></a>

                    <div class="txt">
                        <h2>Berry Park</h2>
                        <h3>Lower Manhattan, New York</h3>
                        <div class="tags">rooftop, romance, ambiente</div>
                    </div>

                    <div class="gradient"></div>
                    <img class="scale-with-grid" src="{{ asset('/bundles/wbbcore/images/tmp/bar.berry-park.png') }}" alt="bar.berry-park" width="570" height="428"/>
                </article>            </div>


            <div class="three columns">
                <article class="bar">

                    <a href="" class="btn-round dark star"></a>

                    <div class="txt">
                        <h2>Berry Park</h2>
                        <h3>Lower Manhattan, New York</h3>
                        <div class="tags">rooftop, romance, ambiente</div>
                    </div>

                    <div class="gradient"></div>
                    <img class="scale-with-grid" src="{{ asset('/bundles/wbbcore/images/tmp/bar.berry-park.png') }}" alt="bar.berry-park" width="570" height="428"/>
                </article>            </div>


            <div class="three columns">
                <article class="bar">

                    <a href="" class="btn-round dark star"></a>

                    <div class="txt">
                        <h2>Berry Park</h2>
                        <h3>Lower Manhattan, New York</h3>
                        <div class="tags">rooftop, romance, ambiente</div>
                    </div>

                    <div class="gradient"></div>
                    <img class="scale-with-grid" src="{{ asset('/bundles/wbbcore/images/tmp/bar.berry-park.png') }}" alt="bar.berry-park" width="570" height="428"/>
                </article>            </div>


        </div>

    </section>
    <!-- AD -->
    <section class="footer-ad">

        <div class="container align-center">

            <div class="twelve columns">

                <hr/>

                <img class="m-margin scale-with-grid" src="{{ asset('/bundles/wbbcore/images/tmp/ad.pre-footer.chivas.png') }}" alt="ad.chivas" width="728" height="90"/>

            </div>

        </div>

    </section>
{% endblock %}




