<section class="insider-tips m-margin-top">

    <div class="container load-container">

        <div class="twelve columns align-center l-margin-top m-margin-bottom h1">
            Insider Tips
        </div>

        {% if app.user == null %}
            <script>
                $(document).ready(function() {
                    $('#tips').on('submit', function(e) {
                        e.preventDefault();
                        $('.popin-block').html('');
                        var url = $('.btn-signin').attr('href') + '?favorite=' + '{{ path('wbb_bar_tips_add') }}';
                        window.lightType = 'tip';
                        window.lightName = $('#wbb_barbundle_tip_description').val();
                        console.log(window.lightType);
                        console.log(window.lightName);
                        popinFrom = 'favorite';
                        if ($('#wbb_barbundle_tip_description').val().trim() !== ''){
                            $.ajax({
                                url: url,
                                method: 'GET',
                                success: function(html) {
                                    html = '<div class="title margin-bottom-30 wrap bold">You need to create a profile to favourite a bar or leave a tip</div>' + html;
                                    $('.popin-block').html(html);
                                    initializeDropdowns();
                                    initRegisterLoginForms();
                                    $('#show-popin').click();
                                    // scroll to top
                                    $('html, body').animate({scrollTop:0}, 500, 'easeInOutCubic');
                                }
                            });
                        }
                    });
                });
            </script>
        {% endif %}


            <div class="line">
                {% if not is_mobile() or is_tablet() %}
                    <div class="three columns box"  id="tipsForm">
                        <article class="tip">
                            <div class="content form">
                                <form action="{{ path('wbb_bar_tips_add') }}" id="tips">
                                    <h3>Leave a tip</h3>
                                    {{ form_widget(tipForm.description) }}
                                    <div class="m-margin-top h4 count">250 left</div>
                                    <input class="s-margin-top btn-small-radius brown" type="submit" value="Submit" id="tips_submit"/>
                                    {{ form_rest(tipForm) }}
                                </form>
                                <br class="clear"/>
                            </div>
                        </article>
                    </div>
                {% endif %}

                 <div class='tips-area'>
{#                  <div class="three columns box">
                     <article class="tip" itemprop="review" itemscope="" itemtype="http://schema.org/Review">
                            <table class="content expert">

                                <tr class="excerpt">
                                    <td colspan="2">
                                        <div class="scroll custom-scroll">
                                         <span itemprop="description">
                                            NY. This Portuguese/ Chinese fusion restaurant offers an exciting blend of exotic dishes that make dining at Macao a unique experience.
                                            NY. This Portuguese/ Chinese fusion restaurant offers an exciting blend of exotic dishes that make dining at Macao a unique experience.
                                            NY. This Portuguese/ Chinese fusion restaurant offers an exciting blend of exotic dishes that make dining at Macao a unique experience.
                                        </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <hr class="s-margin-bottom"/>
                                    </td>
                                </tr>

                                <tr class="author">
                                    <td>
                                        <img src="tmp/user.ryan.png" alt="user" width="40" height="40"/>
                                    </td>
                                    <td>
                                        <b>Expert</b>
                                        <span itemprop="name">Ryan Melon</span>
                                    </td>
                                </tr>
                            </table>
                     </article>
                     </div> #}
                 </div>

            </div>
        <div class="line load-target"></div>
        {% if is_mobile() and not is_tablet() %}

            <div class="twelve columns align-center m-margin">
                <a class="btn-radius border load-more brown" href="#0" data-bar="{{ bar.id }}" data-offset="0" data-limit="9" data-showwbb="1" data-type="tips">Load More</a>
            </div>

            <div class="three columns box">
                <article class="tip">
                    <div class="content form">
                        <form action="{{ path('wbb_bar_tips_add') }}" id="tips">
                            <h3>Leave a tip</h3>
                            {{ form_widget(tipForm.description) }}
                            <div class="m-margin-top h4 count">250 left</div>
                            <input class="s-margin-top btn-small-radius brown" type="submit" value="Submit"/>
                            {{ form_rest(tipForm) }}
                        </form>
                        <br class="clear"/>
                    </div>
                </article>
            </div>

        {% else %}

            <div class="twelve columns align-center m-margin">
                <a class="btn-radius border load-more brown" href="#0">Load More</a>
            </div>

        {% endif %}
    </div>

</section>