{% extends "::base.html.twig" %}
{% block meta %}<meta name="description" content="World Best Bars" />{% endblock %}
{% block title %}World Best Bars{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            {% if city is defined %}
                $.cookie('city', '{{ path('city_homepage',{slug:city.slug}) }}', { path: '/' });
            {% else %}
                $.cookie('city', {{ path('homepage') }}, { path: '/' });
            {% endif %}
            $(".star").click(function(){
                var btn = $(this);
                $.ajax({
                    type: "POST",
                    url:  '/',
                    success: function() {
                        if(btn.hasClass('active')){
                            btn.removeClass('active');
                            if(btn.hasClass('changed')){
                                btn.removeClass('brown');
                                btn.addClass('dark');
                                btn.removeClass('changed');
                            }
                            if(btn.hasClass('nc')){
                                btn.addClass('force-disabled')
                            }
                        }else{
                            btn.addClass('active');
                            if(btn.hasClass('dark')){
                                btn.addClass('changed');
                                btn.addClass('brown');
                                btn.removeClass('dark');
                            }
                            if(btn.hasClass('force-disabled')){
                                btn.removeClass('force-disabled')
                            }
                        }
                    }
                });
            });
            {% if city is defined %}
            $('.city-selector .city>span').html('{{ city.name }}');
            {% endif %}
            initializeSliders();
        });
    </script>
{% endblock %}
{% block bodyTag %}
<body class="index">
{% endblock %}
{% block body %}
<div class="full-cream l-padding-bottom">
    <!-- SUBHEADER -->
    <div class="container">
            <section class="sub-header">
                {% if not is_mobile() or is_tablet() %}
                <table>
                    <tr>
                        <td>
                            <div class="city-selector h3">
                                You are in
                                <select class="ui-dropdown" name="city" data-class="with-icon city" id="city_selector">
                                    <option disabled="disabled">Choose a City</option>
                                    {% for c in topCities %}
                                        <option data-type="redirect" value="{{ path('city_homepage',{slug:c.slug}) }}"
                                            {% if city is defined and c.id==city.id %}
                                                selected="selected"
                                            {% endif %}
                                        >{{ c.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </td>

                        <td class="title">
                            {% if city is defined %}
                                <h1>Popular Bars in {{ city.name }}</h1>
                            {% else %}
                                <h1>Discover the World’s Best Bars</h1>
                            {% endif %}
                        </td>

                        <td></td>
                    </tr>
                </table>
                {% else %}
                    {% if city is defined %}
                        <h1>Popular Bars in {{ city.name }}</h1>
                    {% else %}
                        <h1>Discover the World’s Best Bars</h1>
                    {% endif %}
                {% endif %}
            </section>
    </div>

    <!-- BARS -->
    <div class="container full">

        <section class="bars">
            {% if is_mobile() and not is_tablet() %}
            <div class="ui-slider type-bar has_sizer arrows dots" data-size="4x3" data-display="1">
            {% else %}
            <div class="ui-slider type-bar has_sizer arrows dots" data-size="12x3" data-display="3">
            {% endif %}

            {% for b in topBars %}
                <div class="ui-slide">
                    {% include "WBBBarBundle:Bar:bar1.html.twig" with { 'b': b } %}
                </div>
            {% endfor %}

            </div>
        </section>

    </div>

    {% if city is not defined %}
    <!-- CITIES -->
    <div class="container">

        <section class="cities">
            <div class="twelve columns align-center l-margin-top m-margin-bottom">
                <h1>Discover Bars from Top Cities</h1>
                <h3 class="s-margin-top">Select your city</h3>
            </div>

            <div class="twelve columns">
                {% if is_mobile() and not is_tablet() %}
                    <div class="ui-slider type-cities has_sizer arrows dots" data-size="8x3" data-display="3">
                {% else %}
                    <div class="ui-slider type-cities has_sizer arrows dots" data-size="1x6" data-display="6">
                {% endif %}
                {% for c in topCities %}
                    <div class="ui-slide">
                        <article class="city">
                            <div class="txt">
                                <h3> {{ c.name }} </h3>
                                <h4>{% if c.country %}{{ c.country.acronym }}{% endif %}</h4>
                            </div>
                            <a href="{{ path('city_homepage',{slug:c.slug}) }}" class="overlay-link"></a>
                            <img class="overlay" src="{{ asset('/bundles/wbbcore/images/city.background-circle.png') }}"/>
                            {% if c.webPath %}
                            <img src="" class="scale-with-grid" data-src="{{ asset(c.webPath) | apply_filter('city_small') }}" alt="{{ c.name }}"/>
                            {% endif %}
                        </article>
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>

    </div>
    {% endif %}

    <!-- BEST OF -->
    <div class="container">

        <div class="twelve columns">

            <section class="bestof">
                <div class="align-center l-margin">
                    {% if city is defined %}
                        <h1>Best of in {{ city.name }}</h1>
                    {% else %}
                        <h1>Latest Best Of</h1>
                    {% endif %}
                </div>
                {% if is_mobile() and not is_tablet() %}
                    <div class="ui-slider type-bestof has_sizer arrows dots" data-size="4x3" data-display="1">
                {% else %}
                        <div class="ui-slider type-bestof has_sizer arrows dots" data-size="3x3" data-display="3">
                {% endif %}

                {% for b in topBestofs %}
                    <div class="ui-slide">
                        {% include "WBBBarBundle:Bar:bestof.html.twig" with { 'b': b } %}
                    </div>
                {% endfor %}
                </div>
            </section>
        </div>
    </div>

</div>

    <!-- NEWS -->
    <div class="container l-margin-top m-padding-bottom">

        <!-- LATEST ARTICLES -->
        <section class="articles eight columns">

            {% if is_mobile() and not is_tablet() %}
                <div class="h1 m-margin-bottom color-brown align-center">
            {% else %}
                <div class="h1 m-margin-bottom color-brown">
            {% endif %}
                Latest News
            </div>
            {% if topNews|length>2 %}
            {% for n in topNews|slice(0,1) %}
                <article class="small">
                    <div class="img">
                        <a href="" class="cover">
                            {% for m in n.medias|slice(0,1) %}
                                <img src="{% path m.media, 'slider_large' %}" width="600" height="400" alt="{{ n.title }}"/>
                            {% endfor %}
                        </a>
                        <a class="plus-btn" href=""></a>
                    </div>
                    <div class="title vcenter">
                        <h2><a href="">{{ n.title }}</a></h2>
                    </div>
                </article>
            {% endfor %}
            {% for n in topNews|slice(1,1) %}
                <article class="small">
                    <div class="title vcenter">
                        <h2><a href="">{{ n.title }}</a></h2>
                        <p class="m-margin">
                            {{ n.richDescription|truncate(200, true, '...')|striptags }}
                        </p>
                        <a class="plus-btn" href=""></a>
                    </div>

                </article>
            {% endfor %}
            {% for n in topNews|slice(2,1) %}
                <article class="large">
                    <div class="img">
                        <a href="" class="cover">
                        {# dump(n.medias) #}
                        {% for m in n.medias|slice(0,1) %}
                            <img src="{% path m.media, 'slider_large' %}" width="600" height="400" alt="{{ n.title }}"/>
                        {% endfor %}
                        </a>
                        <a class="plus-btn" href=""></a>
                    </div>
                    <div class="title vcenter">
                        <h2><a href="">{{ n.title }}</a></h2>
                        <p class="m-margin">
                            {{ n.richDescription|truncate(200, true, '...')|striptags }}
                        </p>
                    </div>

                </article>
            {% endfor %}
            {% elseif topNews|length==2 %}
                {% for n in topNews|slice(0,1) %}
                    <article class="small">
                        <div class="img">
                            <a href="" class="cover">
                                {% for m in n.medias|slice(0,1) %}
                                    <img src="{% path m.media, 'slider_large' %}" width="600" height="400" alt="{{ n.title }}"/>
                                {% endfor %}
                            </a>
                            <a class="plus-btn" href=""></a>
                        </div>
                        <div class="title vcenter">
                            <h2><a href="">{{ n.title }}</a></h2>
                        </div>
                    </article>
                {% endfor %}
                {% for n in topNews|slice(1,1) %}
                    <article class="small">
                        <div class="title vcenter">
                            <h2><a href="">{{ n.title }}</a></h2>
                            <p class="m-margin">
                                {{ n.richDescription|truncate(200, true, '...')|striptags }}
                            </p>
                            <a class="plus-btn" href=""></a>
                        </div>

                    </article>
                {% endfor %}
            {% else %}
                {% for n in topNews|slice(0,1) %}
                    <article class="large">
                        <div class="img">
                            <a href="" class="cover">
                                {# dump(n.medias) #}
                                {% for m in n.medias|slice(0,1) %}
                                    <img src="{% path m.media, 'slider_large' %}" width="600" height="400" alt="{{ n.title }}"/>
                                {% endfor %}
                            </a>
                            <a class="plus-btn" href=""></a>
                        </div>
                        <div class="title vcenter">
                            <h2><a href="">{{ n.title }}</a></h2>
                            <p class="m-margin">
                                {{ n.richDescription|truncate(200, true, '...')|striptags }}
                            </p>
                        </div>

                    </article>
                {% endfor %}
            {% endif %}

            <a class="btn-radius border brown h4 s-margin-top" href="" style="clear: left; float:left;">See all news</a>

        </section>

        <!-- NEWLY ADDED BARS -->
        <aside class="four columns">
            {% if is_mobile() and not is_tablet() %}
                <div class="h1 m-margin-bottom color-brown align-center l-margin-top">
            {% else %}
                <div class="h1 m-margin-bottom color-brown">
            {% endif %}
                Newly Added Bars
            </div>
            {% for b in latestBars %}
                {% include "WBBBarBundle:Bar:bar2.html.twig" with { 'b': b } %}
            {% endfor %}

            <a class="btn-radius border brown h4 s-margin-top" href="">See all bars</a>

            {% if not is_mobile() or is_tablet() %}
                <div class="block">
                    <div class="side-ad xl-margin-top">
                        <img src="{{ asset('/bundles/wbbcore/images/tmp/ad.side.jpg') }}" alt="ad.jameson" width="300" height="250"/>
                        <div class="txt">Advertising</div>
                    </div>
                </div>
            {% endif %}

        </aside>

    </div>
{% endblock %}


