<div class="three columns box {% if temporary is defined %}temporary{% endif %}" data-id="{{ tip.id }}">
    <article class="tip">
        <table class="content expert">
            <tr class="excerpt">
                <td colspan="2">
                    <div class="scroll custom-scroll">
                        <span itemprop="description">
                            “{{ tip.description }}”
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr class="s-margin-bottom"/>
                </td>
            </tr>
            <tr class="author">
                <td colspan="2">
                    <img src="{{ showImage(tip.user.avatar, 'avatar_82_82', tip.user) }}" alt="user" width="40" height="40"/>
                    {% if tip.user.getUserRole == 'Bar Expert' %}
                        <b>{{ tip.user.getUserRole }}</b>
                        {{ tip.user.fullname }}
                    {% else %}
                        <div class="margin-top-10">{{ tip.user.fullname }}</div>
                    {% endif %}
                </td>
            </tr>
        </table>
    </article>
</div>
