<div class="line">
{% for tip in tips %}
    <div class="three columns box">
        <article class="tip"  itemprop="review" itemscope="" itemtype="http://schema.org/Review">
            <table class="content expert">
                <tr class="excerpt">
                    <td colspan="2">
                        <div class="scroll custom-scroll">
                            <span itemprop="description">
                                “{{ tip.description }}”
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr class="s-margin-bottom"/>
                    </td>
                </tr>
                <tr class="author">
                    <td colspan="2">
                        <img src="{{ showImage(tip.user.avatar, 'av_small') }}" alt="user" width="40" height="40"/>
                        <b>{{ tip.user.getUserRole }}</b>
                        {{ tip.user.fullname }}
                    </td>
                </tr>
            </table>
        </article>
    </div>
{% endfor %}

{% for fsTip in FsTips %}
    <div class="three columns box fstip">
        <article class="tip">
            <table class="content">

                <tr class="excerpt">
                    <td colspan="2">
                        <div class="scroll">
                            <img src="{{ asset('bundles/wbbcore/images/icons/pin.foursquare-blue.png') }}" alt="icon.foursquare" width="30" height="30"/><br/>
                            “{{ fsTip.text}}”
                        </div>
                    </td>
                </tr>
            </table>
        </article>
    </div>
{% endfor %}
</div>