<div class="line">
{% for b in bestofs %}
        <article class="bar-w-pic-list bestof-item-container">
            <div class="three columns s-margin-top">
                <div class="bar-w-pic list">
                    <a data-id="{{ b.id }}" data-type="{{ entity_light_type(b) }}" data-name="{{ b.name }}" href="{{ favorite_url(app.user, b) }}" class="btn-round star brown {% if is_favorite(app.user, b) %}active changed{% else %}dark{% endif %}"></a>
                    {% if b.city %}
                        <a href="{{ path('wbb_bar_bestof_local', {bestOfSlug: b.slug, citySlug: b.city.slug}) }}" class="overlay-link"></a>
                    {% else %}
                        <a href="{{ path('wbb_bar_bestof_global', {bestOfSlug: b.slug}) }}" class="overlay-link"></a>
                    {% endif %}
                    <img class="scale-with-grid" data-src="{{ showImage(b.image, 'bestof_285_215') }}" alt="{{ b.name }}" width="570" height="428"/>
                </div>
            </div>
            <div class="nine columns s-margin-top">
                <h2 class="s-margin-top">
                    {% if b.city %}
                        <a href="{{ path('wbb_bar_bestof_local', {bestOfSlug: b.slug, citySlug: b.city.slug}) }}" class="overlay-link"></a>
                    {% else %}
                        <a href="{{ path('wbb_bar_bestof_global', {bestOfSlug: b.slug}) }}" class="overlay-link"></a>
                    {% endif %}
                        {{ b.name|slice(0, 25) }}{% if b.name|length > 25 %}...{% endif %}
                    </a>
                </h2>
                <h3 class="xs-margin-top"><a href="#0">{% if b.city %}{{ b.city.name }}{% endif %}</a></h3>
                <p class="s-margin-top">
                    {{ b.seoDescription|truncate(200, true, '...')|striptags }}
                </p>
            </div>
            <div class="separator"><hr/></div>
        </article>
{% endfor %}
</div>
