<div class="line">
    {% for b in bestofs %}
        <div class="best-of-container transform3d bestof-item-container">
            <article class="bestof" {% if not is_mobile() %}style="height: 295px"{% endif %}>
                <a data-id="{{ b.id }}" data-type="{{ entity_light_type(b) }}" data-name="{{ b.name }}" href="{{ favorite_url(app.user, b) }}"
                   class="btn-round star {% if is_favorite(app.user, b) %}active brown changed{% else %}dark{% endif %}"></a>
                <div class="txt vcenter">
                    <div class="circle vcenter">
                        {% if city is defined %}
                            <h2>{{ b.name }}</h2>
                            <h3>In {{ b.city.name }}</h3>
                        {% else %}
                            <h2>{% if b.city %}{{ b.city.name }}'s Best{% else %}World's Best{% endif %}</h2>
                            <h3>{{ b.name }}</h3>
                        {% endif %}
                    </div>
                </div>
                <img class="scale-with-grid"
                     {#data-src="{% filter showMedia %}{% path b.image, 'bestof_small' %}{% endfilter %}"#}
                     data-src="{{ showImage(b.image, 'bestof_small') }}"
                     alt="{{ b.name }}" width="570" height="428"/>
                {% if b.city %}
                    <a href="{{ path('wbb_bar_bestof_local', {bestOfSlug: b.slug, citySlug: b.city.slug}) }}"
                       class="overlay-link"></a>
                {% else %}
                    <a href="{{ path('wbb_bar_bestof_global', {bestOfSlug: b.slug}) }}" class="overlay-link"></a>
                {% endif %}
            </article>
        </div>
    {% endfor %}
</div>