{% for tip in tips %}
    <li class="three columns box margin-bottom-30 item-tips">
        <article class="tip">
            <table class="content expert">
                <tbody>
                    <tr class="excerpt">
                        <td colspan="2">
                            <div class="scroll custom-scroll">
                            {# <div class=""> #}
                                <span itemprop="description">
                                    "{{ tip.description|raw }}"
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr class="s-margin-bottom">
                        </td>
                    </tr>
                    <tr class="author">
                        <td colspan="2">
                            <img src="{{ showImage(user.avatar, 'avatar_82_82', user) }}" alt="{{ user.username }}" width="40" height="40">
                            <b>{{ user.userRole }}</b>
                            {{ user.firstname }} {{ user.lastname }}
                        </td>
                    </tr>
                </tbody>
            </table>
        <a data-type="tip" data-id="{{ tip.id }}" href="#" class="close remove-tip no-text">Close</a>
        </article>
    </li>
{% endfor %}
