<article class="{% if is_small is defined %}small{% else %}large{% endif %}">

    {% if has_image is defined %}
        <div class="img">
            <a href="{{ path('wbb_news_details_page',{newsSlug:n.slug}) }}" class="cover">
                {% if n.medias|length>0 %}
                    {% for m in n.medias|slice(0,1) %}
                        <img src="{% filter showMedia %}{% path m.media, 'slider_large' %}{% endfilter %}" width="600" height="400" alt="{{ n.title }}"/>
                        {% if m.media.providerName == 'sonata.media.provider.youtube' %}
                            <span class="video"></span>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <img src="{{ asset('bundles/wbbcore/images/default.jpg') }}" width="600" height="400" alt="{{ n.title }}"/>
                {% endif %}
                
                {% if n.sponsorImageSmall is defined %}
                    <span class="sponsor">
                            <img src="{% path n.sponsorImageSmall , 'small' %}" alt="sponsor"/>
                    </span>
                {% endif %}

            </a>
            <a class="plus-btn" href="{{ path('wbb_news_details_page',{newsSlug:n.slug}) }}"><span></span></a>
        </div>
    {% endif %}

    <div class="title vcenter">
        {% if not show_quote is defined %}
         <h2><a href="{{ path('wbb_news_details_page',{newsSlug:n.slug}) }}">{{ n.title|truncate(30, true, '...') }}</a></h2>
         {% endif %}
        {% if has_text is defined %}
            <p class="m-margin">
                {% if n.seoDescription %}
                    {{ n.seoDescription|truncate(60, true, '...') }}
                {% else %}
                {% if show_quote is defined %}
                {% if n.quoteText %}
                    <h1>
                        “{{ n.quoteText|truncate(60, true, '...') }}”
                    </h1>
                {% endif %}
                {% endif %}
                {% endif %}
            </p>
        {% endif %}

        {% if has_image is not defined %}
            <a class="plus-btn" href="{{ path('wbb_news_details_page',{newsSlug:n.slug}) }}"></a>
        {% endif %}
    </div>
</article>