<article class="small">
    <div class="title vcenter">
        <h2><a href="{{ path('wbb_news_details',{newsSlug:n.slug}) }}">{{ n.title }}</a></h2>
        {% if has_quote is defined %}
            <h1>
                “ {{ n.quoteText }} ”
            </h1>
            <p class="m-margin">{{ n.quoteAuthor }}</p>
        {% endif %}
            <a class="plus-btn" href="{{ path('wbb_news_details',{newsSlug:n.slug}) }}"></a>

    </div>
</article>