<article class="bar-w-pic">

    <div class="txt">
        <h2>{{ n.title }}</h2>
    </div>
    <a href="{{ path('wbb_news_details_page',{newsSlug:n.slug}) }}" class="overlay-link"></a>

    <div class="gradient"></div>
    {% for m in n.medias|slice(0,1) %}
        <img src="" class="scale-with-grid" data-src="{% path m.media, 'slider_large' %}" alt="{{ n.title|truncate(60, true, '...') }}" width="852" height="639"/>
    {% endfor %}

    {% if n.medias|length <= 0 %}
        <img src="" class="scale-with-grid" data-src="{{ asset('bundles/wbbcore/images/default.jpg') }}" alt="{{ n.title|truncate(60, true, '...') }}" width="852" height="639"/>
    {% endif %}

</article>