{% trans_default_domain 'FOSUserBundle' %}

{% if light %}
    <form id="login_form" action="{{ path("fos_user_security_check") }}" method="post" class="wrap">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="text-align-center">
            <input type="text" placeholder="Email" class="form-text margin-top-30" id="username" name="_username" value="{{ last_username }}" />
            <input type="password" id="password" name="_password" class="form-text form-password margin-top-10" placeholder="Password"/>
            <div id="login_error"></div>
            <input type="submit" id="_submit" name="_submit" class="form-submit btn margin-top-30 bold" value="CONFIRM" />
        </div>
        <div class="clear"></div>
        <a href="{{ path('fos_user_resetting_request') }}" class="text-align-center margin-top-20 forgot-password">Forgot your password?</a> <!-- TODO Forgot ? -->
        <div class="separator margin-top-40"></div>
        <a id="facebook-signup" class="btn btn-facebook text-align-center margin-top-30 margin-bottom-40 radius-30">Sign up with Facebook</a>

            <div class="loading-login-fb">
                <div class="floatingBarsG_fb">
                    <div class="blockG" id="rotateG_01">
                    </div>
                    <div class="blockG" id="rotateG_02">
                    </div>
                    <div class="blockG" id="rotateG_03">
                    </div>
                    <div class="blockG" id="rotateG_04">
                    </div>
                    <div class="blockG" id="rotateG_05">
                    </div>
                    <div class="blockG" id="rotateG_06">
                    </div>
                    <div class="blockG" id="rotateG_07">
                    </div>
                    <div class="blockG" id="rotateG_08">
                    </div>
                </div>
            </div>
            
    </form>
{% else %}
    <div class="block wrap">
        <div class="title bold title-signin">SIGN IN</div>
        <form id="login_form" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="group-form-top">
                <div class="group-form">
                    <input type="text" class="form-text margin-top-30 text-align-center" placeholder="Email" id="username" name="_username" value="{{ last_username }}">
                </div>
                <div class="group-form">
                    <input type="password" id="password" name="_password" class="form-text form-password margin-top-10 text-align-center" placeholder="Password">
                </div>
                <input type="submit" class="form-submit btn margin-top-30" value="Sign In">
            </div>
            <div class="clear"></div>
            <a href="{{ path('fos_user_resetting_request') }}" class="text-align-center margin-top-20 forgot-password">Forgot your password?</a>
            <div class="separator margin-top-40"></div>
            <a id="facebook-signup" class="btn btn-facebook text-align-center margin-top-30 radius-30">Sign up with Facebook</a>
            <div class="loading-login-fb">
                <div class="floatingBarsG_fb">
                    <div class="blockG" id="rotateG_01">
                    </div>
                    <div class="blockG" id="rotateG_02">
                    </div>
                    <div class="blockG" id="rotateG_03">
                    </div>
                    <div class="blockG" id="rotateG_04">
                    </div>
                    <div class="blockG" id="rotateG_05">
                    </div>
                    <div class="blockG" id="rotateG_06">
                    </div>
                    <div class="blockG" id="rotateG_07">
                    </div>
                    <div class="blockG" id="rotateG_08">
                    </div>
                </div>
            </div>

            <p class="text-align-center need-account margin-bottom-20 margin-top-20">Need an account? <a href="{{ path('fos_user_registration_register') }}">Register</a></p>
        </form>
        <div id="message" class="margin-bottom-20"></div>
    </div>
{% endif %}

<script>
    $(document).ready(function() {
        $('.forgot-password').on('click', function(e) {
            $('html, body').animate({scrollTop: 0}, 500, 'easeInOutCubic');
            e.preventDefault();
            var url = $(this).attr('href');
            // start loading of PopIn
            PopIn.startLoading();

            $.ajax({
                url: url,
                method: 'GET',
                success: function(html) {
                    // start loading of PopIn
                    PopIn.endLoading();

                    $('.popin-block').html(html);
                    var forgotPassword = $("#register");
                    forgotPassword.addClass("forgotPassword");
                }
            });
        });
    });
</script>