{% extends "::base.html.twig" %}
{% block meta %}<meta name="description" content="World Best Bars" />{% endblock %}
{% block title %}World Best Bars{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        var _offset = 0;
        var _city = 0;
        {% if city is defined %}
            _city = {{ city.id }};
        {% endif %}
    </script>
    <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/modules/bar-guides.wbb.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            {% if city is defined %}
            $.cookie('city', '{{ path('city_homepage',{slug:city.slug}) }}', { path: '/' });
            {% else %}
            $.cookie('city', '{{ path('homepage') }}', { path: '/' });
            {% endif %}

            {% if city is defined %}
            $('.city-selector .city>span').html('{{ city.name }}');
            {% endif %}

            initializeSliders();
        });
    </script>
{% endblock %}
{% block bodyTag %}
<body class="bar-guides">
{% endblock %}
{% block body %}
<style type="text/css">
    {% if is_mobile() and not is_tablet() %}
        section.bar-filter .sort-by .btn-radius:last-of-type {
            margin-left: 0px;
        }   
    {% endif %}
    {#{% if not distance %}
        .bar-filter .ui-dropdown.drop-light {
            max-height: 110px !important;
        }
    {% endif %} #}
</style>
<div class="full-cream">

    <!-- SUBHEADER -->
    <div class="container">
        <section class="sub-header">
            {% if not is_mobile() or is_tablet() %}
            <table>
                <tr>
                    <td>
                        {% include "WBBBarBundle:UI:citys_selector.html.twig"  with { 'from' : 'barguide' } %}
                    </td>

                    <td class="title">
                        <h1>Popular Bars {% if city is defined %}in {{ city.name }}{% endif %}</h1>
                    </td>

                    <td></td>
                </tr>
            </table>
            {% else %}
            <h1>Popular Bars {% if city is defined %}in {{ city.name }}{% endif %}</h1>
            {% endif %}
        </section>
    </div>

    <!-- BARS -->
    <div class="container full">

        <section class="bars">

            {% if is_mobile() and not is_tablet() %}

            <div class="force-load">
                {% for b in popularBars|slice(0,5) %}
                    {% include "WBBBarBundle:Bar:bar1.html.twig" with { 'b': b } %}
                {% endfor %}
            </div>

            {% else %}

            <div class="ui-slider type-bar has_sizer arrows dots" data-size="12x3" data-display="3">
                {% for b in popularBars %}
                    <div class="ui-slide">
                       {% include "WBBBarBundle:Bar:bar1.html.twig" with { 'b': b } %}
                    </div>
                {% endfor %}
            </div>

            {% endif %}

        </section>
    </div>

    <!-- BEST OF -->
    <div class="container">

        <div class="twelve columns">

            <section class="bestof">
                <div class="align-center l-margin">
                    <h1>Best Of {% if city is defined %}in {{ city.name }}{% endif %}</h1>
                </div>
                {% if is_mobile() and not is_tablet() %}
                    <div class="ui-slider type-bestof has_sizer arrows dots" data-size="4x3" data-display="1">
                {% else %}
                    <div class="ui-slider type-bestof has_sizer arrows dots" data-size="3x3" data-display="3">
                {% endif %}
                    {% for b in topBestofs %}
                        <div class="ui-slide">
                            {% include "WBBBarBundle:Bar:bestof.html.twig" with { 'b': b } %}
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>

    <!-- BAR FILTER -->

    <section class="bar-filter">

        <div class="container s-margin-bottom">
            <form name="filter" autocomplete="off">
            <div class="twelve columns">
                <hr class="l-margin-top m-margin-bottom"/>
            </div>

            <div class="six columns h2 filters">
                <div class="disableClick"></div>
                <input type="radio" name="filter" value="bar_list" class="ui-radio" data-color="brown" data-type="collapsed" checked="checked"/>
                <input type="radio" name="filter" value="best_of" class="ui-radio" data-color="brown" data-type="collapsed"/>
            </div>

            <div class="six columns sort-by h3 filters">
                <div class="disableClick"></div>
                <span class="sort">Sort by :</span>

                <select class="ui-dropdown light filter-distance" name="criteria" id="criteria" style="{% if not distance %}height:110px !important;{% endif %}">
                    {% if distance is defined and distance %}
                    <option value="distance" data-type="criteria">Distance</option>
                    {% endif %}
                    <option value="popularity" data-type="criteria">Popularity</option>
                    <option value="date" data-type="criteria">Date</option>
                    <option value="alphabetical" data-type="criteria">Alphabetical order</option>
                </select>

                <input type="radio" name="view-type" value="grid" class="ui-radio with-icon" data-color="brown" checked="checked"/>
                <input type="radio" name="view-type" value="list" class="ui-radio with-icon" data-color="brown"/>
            </div>
            </form>
        </div>

        <div class="container">
            <div class="bars-w-pic force-load   load-container">
                <div class="load-target"></div>
                <div class="twelve columns align-center m-margin load-more-container">
                    <a class="h4 btn-radius large border load-more brown" href="#0">See more Bars</a>
                </div>
            </div>

        </div>

    </section>


{% endblock %}
{% block footerAd %}
    {{ render(controller('WBBBarBundle:Ads:show', { 'format': 'BG_728x90' })) }}
    </div>
{% endblock %}