<!DOCTYPE html>
<html lang="fr" class="utf8">
    <head>
        <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, initial-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta charset="utf-8"/>

        <title>{% block title %}{{ "World Best Bars"|trans }}{% endblock %}</title>
        {% block meta %}
            <meta name="description" content="{% block mDescription %}World Best Bars{% endblock %}" />
        {% endblock %}

        <link rel="icon" type="image/png" href="{{ asset('bundles/wbbcore/images/favicon.png') }}" />

        <!--[if lt IE 9]>
        <script src="{{ asset('bundles/wbbcore/js/plugins/html5.js') }}"></script>
        <![endif]-->
        <script type="text/javascript">
            var ismobile, istablet;
            ismobile = 0;
            istablet = 0;
            {% if is_mobile() and not is_tablet() %}ismobile = 1;{% endif %}
            {% if is_tablet() %}istablet = 1;{% endif %}
            {% if city is defined and city != ''  %}
                window.isCity = true;
            {% endif %}
            var DEBUGMODE = "{{app.environment }}";
            var URL_MODE = ( DEBUGMODE == 'dev' ? '/app_dev.php' : '/');

            // vars for fav actions
        </script>
            
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        {% block stylesheets %}

            {% stylesheets filter="cssrewrite"
                "bundles/wbbcore/css/front.css"
                "bundles/wbbcore/css/wbb.css"
                "bundles/wbbcore/css/main.css"
            %}

            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

            {#{% javascripts#}
                {#'@WBBCoreBundle/Resources/public/js/plugins/jquery.min.js'#}
                {#'@WBBCoreBundle/Resources/public/js/plugins/jquery.easing.js'#}
                {#'@WBBCoreBundle/Resources/public/js/plugins/jquery.velocity.min.js'#}
                {#'@WBBCoreBundle/Resources/public/js/plugins/jquery.transform3d.js'#}
                {#'@WBBCoreBundle/Resources/public/js/plugins/modernizr.js'#}
                {#'@WBBCoreBundle/Resources/public/js/plugins/jquery.browser.js'#}
                {#'@WBBCoreBundle/Resources/public/js/plugins/jquery.touchSwipe.min.js'#}
                {#'@WBBCoreBundle/Resources/public/js/plugins/placeholders.min.js'#}
                {#'@WBBCoreBundle/Resources/public/js/plugins/jquery.mousewheel.js'#}
                {#'@WBBCoreBundle/Resources/public/js/geolocalisation.wbb.js'#}
                {#'@WBBCoreBundle/Resources/public/js/plugins/jquery.jscrollpane.js'#}
                {#'@WBBCoreBundle/Resources/public/js/plugins/jquery.cookie.js'#}
                {#'@WBBCoreBundle/Resources/public/js/libs/utils.metabolism.js'#}
                {#'@WBBCoreBundle/Resources/public/js/libs/slider.metabolism.js'#}
                {#'@WBBCoreBundle/Resources/public/js/libs/ratio.metabolism.js'#}
                {#'@WBBCoreBundle/Resources/public/js/libs/loadMore.metabolism.js'#}
                {#'@WBBCoreBundle/Resources/public/js/libs/dropdown.metabolism.js'#}
                {#'@WBBCoreBundle/Resources/public/js/libs/selector.metabolism.js'#}
                {#'@WBBCoreBundle/Resources/public/js/libs/tips.metabolism.js'#}
                {#'@WBBCoreBundle/Resources/public/js/libs/radio.metabolism.js'#}
                {#'@WBBCoreBundle/Resources/public/js/libs/search.metabolism.js'#}
                {#'@WBBCoreBundle/Resources/public/js/libs/form.metabolism.js'#}
                {#'@WBBCoreBundle/Resources/public/js/app.js'#}
                {#'@WBBCoreBundle/Resources/public/js/wbb.js'#}
                {#'@WBBCoreBundle/Resources/public/js/libs/translate.wbb.js'#}
            {#%}#}
            {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
            {#{% endjavascripts %}#}
        {% endblock %}

        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/plugins/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/plugins/jquery.easing.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/plugins/jquery.velocity.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/plugins/jquery.transform3d.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/plugins/modernizr.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/plugins/jquery.browser.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/plugins/jquery.touchSwipe.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/plugins/placeholders.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/plugins/jquery.mousewheel.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/plugins/jquery.jscrollpane.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/plugins/jquery.cookie.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/libs/popin.void.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/libs/utils.metabolism.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/libs/slider.metabolism.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/libs/ratio.metabolism.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/libs/loadMore.metabolism.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/libs/dropdown.metabolism.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/libs/selector.metabolism.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/libs/radio.metabolism.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/libs/search.metabolism.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/libs/form.metabolism.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/app.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/libs/tips.metabolism.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/geolocalisation.wbb.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/wbb.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/libs/translate.wbb.js') }}"></script>

        {% block javascripts %}

        {% endblock %}

        <script type="text/javascript">
                var MARKET = "US";
                var LANG = "en";
                var BASEURL = "{{ asset('bundles/wbbcore/') }}";
                window.userConnected = {% if app.user%}true{% else %}false{% endif %};
                
                var showConfirmed = {{ app.request.query.get('confirmed', 0) }};
                var showNewPassword = {{ app.request.query.get('newpassword', 0) }};
                var showResettingForm = "{{ app.request.query.get('token', 0) }}";
                var showLoginForm = {{ app.request.query.get('login', 0) }};
                var showEmailPopin = {{ app.request.query.get('emailPopin', 0) }};
                var favoriteName = '';

                var profileWithPopinUrl = "{{ path('fos_user_profile_show', { emailPopin: 1}) }}";
                var newPasswordUrl = "{{ path('fos_user_resetting_request') }}";
                var popinFrom = '';
                {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
                var currentPage = "{{ currentPath }}";

                {% if app.request.query.get('favoriteAction', null) != null %}
                    var favoriteUrl = "{{ app.request.query.get('favoriteAction')}}"
                    $(document).ready(function() {
                        var notShown = true;
                        $('.star').each(function() {
                            if ($(this).attr('href') === favoriteUrl || $(this).attr('href').replace('delete','add') === favoriteUrl) {
                                if (notShown) {
                                    $(this).click();
                                    notShown = false;
                                    var html = '<div id="success"><p class="padding-top-40">The "' + $(this).attr('data-name') +
                                    '" bar/best of has been added to your favorites.</p>' +
                                    '<p class="padding-bottom-40">You can have a look at your favorite contents in your user profile.</p></div>';
                                    $('.popin-block').html(html);
                                    $('#show-popin').click();
                                }
                            }
                        });
                    });
                {% endif %}

                {% for flashMessage in app.session.flashbag.get('profileHover') %}
                    $(document).ready(function() {
                        $('header.desktop .logged').mouseover();
                   });
                {% endfor %}
        </script>

        {% if is_tablet() %}
            <style type="text/css">
                article.bar-wo-pic:hover {
                    background: #faf3e1 !important;
                }
                article.bar-wo-pic:hover h2 {
                    color: #333 !important;
                }
                article.bar-wo-pic:hover h3 {
                    color: #B3955F !important;
                }
                article.bar-wo-pic .btn-round.star{
                    background : #faf3e1 !important;
                }
                article.bar-wo-pic .btn-round.star.active, article.bar-wo-pic .btn-round.star:hover {
                    border-color: transparent !important;
                    background: transparent !important;
                }
            </style>
        {% endif %}
    </head>

    {% block bodyTag %}
        <body>

        {% endblock %}
        <div class="mask"></div>
        <div id="register" style="display:none" class="{% if is_mobile() and not is_tablet() %}mobile{% endif %} popup">
            <div class="wrap ui register">
                <div class="margin-top-20">
                    <div class="popin-block">
                        {% if resetting_form is defined %}
                            {{ resetting_form|raw }}
                        {% endif %}
                        {% if app.request.query.get('emailPopin', 0) == 1%}
                            {{ include('WBBUserBundle:Registration:checkEmail.html.twig') }}
                        {% endif %}
                    </div>
                    <div>
                        <a href="#close" class="btn btn-close">Close</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div data-show="register" class="lighbox" id="show-popin"></div>
        {#<div data-show="register-tips" class="lighbox" id="show-popin-tips"></div>#}
        {{ facebook_initialize({'xfbml': true}) }}
        <script>
            function securityCheck() {
                $.ajax({
                    url: '{{ path('_security_check') }}',
                    success: function(response) {
                        if (response.code === '400') {
                            $('#facebook-signup').after($('#message'));
                            $('#login_form #message').find('ul').remove();
                            var errorsList = $('#login_form #message').show().find('img').after('<ul></ul>').parent();
                            errorsList.find('ul').append('<li>Created an account please !</li>');
                        } else {
                            window.location.reload();
                        }
                    }
                })
            }
        </script>
        <script type="text/javascript">

            //twitter
            !function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + '://platform.twitter.com/widgets.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, 'script', 'twitter-wjs');
        </script>
        {% block header %}
            {% include '::header.html.twig' %}
        {% endblock %}
        {% block body %}
        {% endblock %}
        <!-- AD -->
        {% block footerAd %}
        {% endblock %}
        <script>
        $(document).ready(function(){
            $('.ui-dropdown-list-form').find('.ui-dropdown').on('click',function(){
                $(this).find('li').css('display','list-item');
            });
        });
        </script>
        {% block footer %}
            {% include '::footer.html.twig' %}
        {% endblock %}
    </body>
</html>
