<!DOCTYPE html>
<html lang="fr" class="utf8">
    <head>
        <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, initial-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta charset="utf-8"/>

        {% block meta %}
            <meta name="description" content="{% block mDescription %}World Best Bars{% endblock %}" />
        {% endblock %}

        <title>{% block title %}{{ "World Best Bars"|trans }}{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('bundles/wbbcore/images/favicon.png') }}" />

        <!-–[if lt IE 9]>
        <script src="{{ asset('bundles/wbbcore/js/plugins/html5.js') }}"></script>
        <![endif]–->
        <script type="text/javascript">
            var ismobile, istablet;
            ismobile=0;
            istablet=0;
            {% if is_mobile() and not is_tablet() %}ismobile=1;{% endif %}
            {% if is_tablet() %}istablet=1;{% endif %}
            {% if city is defined and city != ''  %}
                window.isCity = true;
            {% endif %}
        </script>

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        {% block stylesheets %}

            {% stylesheets filter="cssrewrite"
                "bundles/wbbcore/css/front.css"
                "bundles/wbbcore/css/wbb.css"
                "bundles/wbbcore/css/main.css"
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

            {% javascripts
                '@WBBCoreBundle/Resources/public/js/plugins/jquery.min.js'
                '@WBBCoreBundle/Resources/public/js/plugins/jquery.easing.js'
                '@WBBCoreBundle/Resources/public/js/plugins/jquery.velocity.min.js'
                '@WBBCoreBundle/Resources/public/js/plugins/jquery.transform3d.js'
                '@WBBCoreBundle/Resources/public/js/plugins/modernizr.js'
                '@WBBCoreBundle/Resources/public/js/plugins/jquery.browser.js'
                '@WBBCoreBundle/Resources/public/js/plugins/jquery.touchSwipe.min.js'
                '@WBBCoreBundle/Resources/public/js/plugins/placeholders.min.js'
                '@WBBCoreBundle/Resources/public/js/plugins/jquery.mousewheel.js'
                '@WBBCoreBundle/Resources/public/js/geolocalisation.wbb.js'
                '@WBBCoreBundle/Resources/public/js/plugins/jquery.jscrollpane.js'
                '@WBBCoreBundle/Resources/public/js/plugins/jquery.cookie.js'
                '@WBBCoreBundle/Resources/public/js/libs/utils.metabolism.js'
                '@WBBCoreBundle/Resources/public/js/libs/slider.metabolism.js'
                '@WBBCoreBundle/Resources/public/js/libs/ratio.metabolism.js'
                '@WBBCoreBundle/Resources/public/js/libs/loadMore.metabolism.js'
                '@WBBCoreBundle/Resources/public/js/libs/dropdown.metabolism.js'
                '@WBBCoreBundle/Resources/public/js/libs/selector.metabolism.js'
                '@WBBCoreBundle/Resources/public/js/libs/tips.metabolism.js'
                '@WBBCoreBundle/Resources/public/js/libs/radio.metabolism.js'
                '@WBBCoreBundle/Resources/public/js/libs/search.metabolism.js'
                '@WBBCoreBundle/Resources/public/js/libs/search.metabolism.js'
                '@WBBCoreBundle/Resources/public/js/libs/form.metabolism.js'
                '@WBBCoreBundle/Resources/public/js/app.js'
                '@WBBCoreBundle/Resources/public/js/wbb.js'
                '@WBBCoreBundle/Resources/public/js/libs/translate.wbb.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        {% block javascripts %}
            {#<script type="text/javascript">#}
                {#$(function() {#}
                    {#$(this).find('#register_form').submit(function (e) {#}
                        {#e.preventDefault();#}
                        {#$.ajax({#}
                            {#url: Routing.generate('wbb_user_registration_register_light', $( this ).serialize()),#}
                            {#success: function( data )#}
                            {#{#}
                                {#console.log(" Success Data ");#}
                                {#console.log(data);#}
                            {#}#}
                        {#});#}

                     {#});#}
                {#});#}
            {#</script>#}
        {% endblock %}

        <script type="text/javascript">
            var MARKET = "US";
            var LANG = "en";
            var BASEURL = "{{ asset('bundles/wbbcore/') }}";
        </script>

        {% if is_tablet() %}
            <style type="text/css">
                article.bar-wo-pic:hover {
                    background: #faf3e1 !important;
                }
                article.bar-wo-pic:hover h2 {
                    color: #333 !important;
                }
                article.bar-wo-pic:hover h3 {
                    color: #B3955F !important;
                }
                article.bar-wo-pic .btn-round.star{
                    background : #faf3e1 !important;
                }
                article.bar-wo-pic .btn-round.star.active, article.bar-wo-pic .btn-round.star:hover {
                    border-color: transparent !important;
                    background: transparent !important;
                }
            </style>
        {% endif %}
    </head>

    {% block bodyTag %}
        <body>
        {% endblock %}
        <div id="fb-root"></div>
        {{ facebook_initialize({'xfbml': true}) }}
        <script>
            function fillInForm(formId) {
                FB.getLoginStatus(function(response) {
                    if (response.status === 'connected') {
                        FB.api('/me', function(response) {
                            console.log(response);
                            if (formId === '#register_form_full') {
                                $(formId + ' #fos_user_registration_form_firstname').val(response.first_name);
                                $(formId + ' #fos_user_registration_form_lastname').val(response.last_name);
                                $(formId + ' #fos_user_registration_form_email').val(response.email);
                                $(formId + ' #fos_user_registration_form_email').val(response.email);
                            } else if (formId === '#register_form') {
                                $(formId + ' #fos_user_registration_form_email').val(response.email);
                                $(formId + ' #fos_user_registration_form_username').val(response.first_name);
                            }
                        });
                    } else {
                        FB.login(function(response) {
                            if (response.authResponse) {
                                console.log('Welcome!  Fetching your information.... ');
                                fillInForm(formId);
                            } else {
                                console.log('User cancelled login or did not fully authorize.');
                            }
                        });
                    }
                });
            }
        </script>
        <script type="text/javascript">

            //twitter
            !function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + '://platform.twitter.com/widgets.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, 'script', 'twitter-wjs');
        </script>
        {% block header %}
            {% include '::header.html.twig' %}
        {% endblock %}

        {% block body %}
        {% endblock %}
        <!-- AD -->
        {% if not is_mobile() or is_tablet() %}
            {% block footerAd %}
                <section class="footer-ad">
                <div class="container align-center">
                    <div class="twelve columns">
                        <hr/>
                        <img class="m-margin scale-with-grid" src="{{ asset('bundles/wbbcore/images/tmp/ad.pre-footer.jpg') }}" alt="ad.chivas" width="728" height="90"/>
                    </div>
                </div>
            </section>
            {% endblock %}

        {% endif %}

        {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div id="register-light">
            {% render url('wbb_user_registration_register_light') %}
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
            <script>
            $(document).ready(function() {
                $('#message').hide();
                $('#register_form').on('submit', function(e) {
                    e.preventDefault();
                    var form = $(this);
                    var formUrl='{{ path('wbb_user_registration_register_light') }}';
                    
                    $.ajax({
                        type: "POST",
                        url: formUrl,
                        data: form.serialize(),
                        success: function(data) {
                            if(data.code==='400') {
                                var errors = data.errors;
                                var errorsList = $('#message').show().find('img').html('<ul></ul>');
                                for(var i=0 ; i < errors.length ; i++) {
                                    errorsList.find('ul').append('<li>'+errors[i]+'</li>');
                                }
                            }
                        },
                        error:function (xhr, ajaxOptions, thrownError) {
                            // Si erreur communication ?
                        }
                    });
                });
                $('#login_form').on('submit',function(e) {
                    e.preventDefault();
                    var form = $(this);
                    var formUrl='{{ path('fos_user_security_check') }}';
                    
                    $.ajax({
                        type: "POST",
                        url: formUrl,
                        data: form.serialize(),
                        success: function(data) {
                            console.log(data);
                            if(data.code === '400') {
                                $('#login_error').html(data.error);
                            } else {
                                window.location.reload();
                            }
                        },
                        error:function (xhr, ajaxOptions, thrownError) {
                            // Si erreur communication ?
                        }
                    });
                });
            });
        </script>
        {% endif %}

        {% block footer %}
            {% include '::footer.html.twig' %}
        {% endblock %}

        {#{% block javascripts %}#}
            {#<script type="text/javascript">#}
                {#$(function() {#}
                    {#$(this).find('#register_form').submit(function (e) {#}
                        {#e.preventDefault();#}
                        {#$.ajax({#}
                            {#url: Routing.generate('wbb_user_registration_register_light', $( this ).serialize()),#}
                            {#success: function( data )#}
                            {#{#}
                                {#console.log(" Success Data ");#}
                                {#console.log(data);#}
                            {#}#}
                        {#});#}

                     {#});#}
                {#});#}
            {#</script>#}
        {#{% endblock %}#}
    </body>
</html>
