<!DOCTYPE html>
<html lang="fr" class="utf8">
    <head>
        <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, initial-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta charset="utf-8"/>

        {% block meta %}
            <meta name="description" content="{% block mDescription %}World Best Bars{% endblock %}" />


        {% endblock %}

        <title>{% block title %}{{ "World Best Bars"|trans }}{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('bundles/wbbcore/images/favicon.png') }}" />
        <link rel="stylesheet" media="screen" href="{{ asset('bundles/wbbcore/css/front.css') }}"/>
        <link rel="stylesheet" media="screen" href="{{ asset('bundles/wbbcore/css/wbb.css') }}"/>

        <!-–[if lt IE 9]>
        <script src="{{ asset('bundles/wbbcore/js/plugins/html5.js') }}"></script>
        <![endif]–->
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/plugins/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/plugins/jquery.easing.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/plugins/jquery.velocity.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/plugins/jquery.transform3d.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/plugins/modernizr.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/plugins/jquery.browser.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/plugins/jquery.touchSwipe.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/plugins/placeholders.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/plugins/jquery.mousewheel.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/plugins/jquery.jscrollpane.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/plugins/jquery.cookie.js') }}"></script>

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/libs/utils.metabolism.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/libs/slider.metabolism.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/libs/ratio.metabolism.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/libs/loadMore.metabolism.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/libs/dropdown.metabolism.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/libs/radio.metabolism.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/libs/search.metabolism.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/libs/form.metabolism.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/app.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/wbb.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/libs/translate.wbb.js') }}"></script>

        <script type="text/javascript">
            var MARKET = "US";
            var LANG = "en";
            var BASEURL = "{{ asset('bundles/wbbcore/') }}";
        </script>

        {% if is_tablet() %}
            <style type="text/css">
                article.bar-wo-pic:hover {
                    background: #faf3e1 !important;
                }
                article.bar-wo-pic:hover h2 {
                    color: #333 !important;
                }
                article.bar-wo-pic:hover h3 {
                    color: #B3955F !important;
                }
                article.bar-wo-pic .btn-round.star{
                    background : #faf3e1 !important;
                }
                article.bar-wo-pic .btn-round.star.active, article.bar-wo-pic .btn-round.star:hover {
                    border-color: transparent !important;
                    background: transparent !important;
                }
            </style>
        {% endif %}
        {% block javascripts %}
        {% endblock %}


    </head>

    {% block bodyTag %}
        <body>
        {% endblock %}
        <div id="fb-root"></div>

        <script type="text/javascript">

            //facebook
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id))
                    return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            //twitter
            !function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + '://platform.twitter.com/widgets.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, 'script', 'twitter-wjs');

        </script>

        {% block header %}
            {% include '::header.html.twig' %}
        {% endblock %}

        {% block body %}
        {% endblock %}
        <!-- AD -->
        {% if not is_mobile() or is_tablet() %}
            {% block footerAd %}
                <section class="footer-ad">

                <div class="container align-center">

                    <div class="twelve columns">

                        <hr/>

                        <img class="m-margin scale-with-grid" src="{{ asset('bundles/wbbcore/images/tmp/ad.pre-footer.jpg') }}" alt="ad.chivas" width="728" height="90"/>

                    </div>

                </div>

            </section>
            {% endblock %}

        {% endif %}
        {% block footer %}
            {% include '::footer.html.twig' %}
        {% endblock %}

    </body>
</html>
