<!-- AD -->
{% if not is_mobile() or is_tablet() %}

    <section class="footer-ad">
        <div class="container align-center">
            <div class="twelve columns">
                <hr/>
                <img class="m-margin scale-with-grid" src="{{ asset('/bundles/wbbcore/images/tmp/ad.pre-footer.jpg') }}" alt="ad.chivas" width="728" height="90"/>
            </div>
        </div>
    </section>

{% endif %}
{% if is_mobile() and not is_tablet() %}

{% else %}
<footer>

    <div class="container">

        <div class="twelve columns">

            <div class="left vcenter">

                <nav class="h4">
                    <a href="">About</a>
                    <a href="">Legal</a>
                    <a href="">Cookies</a>
                    <a href="">Submit a bar</a>
                    <a href="">Claim this bar</a>
                    <a href="">Responsible Drinking</a>
                </nav>

                <div class="copy h4">
                    &copy; 2014 World's Best Bars
                </div>
            </div>

            <div class="right">

                <div class="social-icons vcenter">
                    <a href="" class="facebook">
                        <span><img src="{{ asset('/bundles/wbbcore/images/blank.png') }}" alt="social-icon" width="13" height="24"/></span>
                    </a>
                    <a href="" class="twitter">
                        <span><img src="{{ asset('/bundles/wbbcore/images/blank.png') }}" alt="social-icon" width="28" height="24"/></span>
                    </a>
                    <a href="" class="instagram">
                        <span><img src="{{ asset('/bundles/wbbcore/images/blank.png') }}" alt="social-icon" width="25" height="24"/></span>
                    </a>
                    <a href="" class="pinterest">
                        <span><img src="{{ asset('/bundles/wbbcore/images/blank.png') }}" alt="social-icon" width="24" height="24"/></span>
                    </a>
                </div>

                <div class="keep-in-touch vcenter">
                    <h3 class="s-margin-bottom">Keep in touch</h3>
                    <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fworldsbestbars&amp;width&amp;layout=button&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=35&amp;appId=778064522207681" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:35px; width: 56px; float: left;" allowTransparency="true"></iframe>
                    <a href="https://twitter.com/WorldsBestBars" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @WorldsBestBars</a>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endif %}
</div>
</div>