{% if is_mobile() and not is_tablet() %}
    <div class="detect-scroll"></div>
    <aside class="mobile-menu">
        <table>
            <tr class="search">
                <td>
                    <form class="dark">
                        <input type="text" placeholder="Search..."/>
                        <input type="submit" value=" "/>
                    </form>
                </td>
            </tr>
            <tr class="signin {% if app.user %}logged{% endif %}">
                <td>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <span class="logged h3">
                            <a href="{{ path('fos_user_profile_show') }}">
                                <img src="{{  showImage(app.user.avatar, 'av_small') }}" alt="{{ app.user.username }}" width="40" height="40"/>
                                <span>{{ app.user.username }}</span>
                            </a>
                            <span class="actions">
                                <a href="{{ path('fos_user_profile_show') }}">My profile</a>
                                <a href="{{ path('fos_user_profile_edit') }}">Settings</a>
                                <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                            </span>
                        </span>
                    {% else %}
                        <span class="register h4">
                            <a class="lighbox btn-signin" href="{{ path('wbb_ajax_signin_popin') }}">Sign in</a>
                            or
                            <a class="btn-radius" href="{{ path('fos_user_registration_register') }}">Register</a>
                        </span>
                    {% endif %}
                </td>
            </tr>
            <tr class="header-nav">
                <td>
                    <nav class="h3">
                        <a href="{{ path('wbb_cities') }}" {% if app.request.attributes.get('_route') == "wbb_cities" %} class="active"{% endif %}>Cities</a>
                        <a href="{{ path('wbb_bar_guides') }}" {% if app.request.attributes.get('_route') == "wbb_bar_guides" or app.request.attributes.get('_route') == "wbb_bar_guides_city" %} class="active"{% endif %}>Bar Guides</a>
                        <a href="{{ path('wbb_news_landing_page') }}" {% if app.request.attributes.get('_route') == "wbb_news_landing_page" %} class="active"{% endif %}>News</a>
                    </nav>
                </td>
            </tr>
            <tr class="links">
                <td>
                    <a href="{{ path('wbb_bar_finder') }}" class="finder h3">
                        <img src="{{ asset('bundles/wbbcore/images/icons/glass.png') }}" alt="glass" width="10" height="16"/>
                        Bar Finder
                    </a>
                </td>
            </tr>
            <tr class="footer-nav">
                <td>
                    <nav class="h4">
                        <a href="">About</a>
                        <a href="">Terms & conditions</a>
                        <a href="">Privacy Policy</a>
                        <a href="">Cookies</a>
                        <a href="mailto:editor@worldsbestbars.com">Submit a bar</a>
                        {% if app.request.attributes.get('_route') == "wbb_bar_details" %}<a href="mailto:editor@worldsbestbars.com">Claim this bar</a>{% endif %}
                        <a href="">Responsible Drinking</a>
                    </nav>
                </td>
            </tr>
            <tr class="socials">
                <td>
                    <a href="" class="facebook">
                        <span><img src="{{ asset('bundles/wbbcore/images/blank.png') }}" alt="social-icon" width="13" height="24"/></span>
                    </a>
                    <a href="" class="twitter">
                        <span><img src="{{ asset('bundles/wbbcore/images/blank.png') }}" alt="social-icon" width="28" height="24"/></span>
                    </a>
                    <a href="" class="instagram">
                        <span><img src="{{ asset('bundles/wbbcore/images/blank.png') }}" alt="social-icon" width="25" height="24"/></span>
                    </a>
                    <a href="" class="pinterest">
                        <span><img src="{{ asset('bundles/wbbcore/images/blank.png') }}" alt="social-icon" width="24" height="24"/></span>
                    </a>
                </td>
            </tr>
            <tr class="touch">
                <td>
                    <h4 class="s-margin-bottom">Keep in touch</h4>
                    <div class="socials">
                        <div class="fb-like" data-href="http://www.facebook.com/worldsbestbars" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
                        <a href="https://twitter.com/WorldsBestBars" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @WorldsBestBars</a>
                    </div>
                </td>
            </tr>
            <tr class="copyright">
                <td>
                    <div class="copy h4">
                        &copy; 2014 World's Best Bars
                    </div>
                </td>
            </tr>
        </table>
    </aside>
    <header class="mobile">
        <div class="container">
            <div class="twelve columns">
                <table>
                    <tr>
                        <td class="nav-icon">
                            <a>
                                <img src="{{ asset('bundles/wbbcore/images/icons/nav.mobile.png') }}" alt="nav.mobile" width="19" height="17"/>
                            </a>
                        </td>
                        <td class="logo">
                            <a href="{{ path('homepage',{city:1}) }}">
                                <img src="{{ asset('bundles/wbbcore/images/logo.png') }}" alt="logo" width="104" height="56"/>
                            </a>
                        </td>
                        <td class="search-pin-icon">
                            <a href="{{ path('wbb_cities') }}">
                                <img src="{{ asset('bundles/wbbcore/images/icons/pin.border.png') }}" alt="pin.border" width="12" height="16"/>
                            </a>
                            <a class="search" href="#0">
                                <img src="{{ asset('bundles/wbbcore/images/icons/search.png') }}" alt="search" width="16" height="16"/>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="search-bar-mobile nav">
            <div class="container">
                <div class="twelve columns s-margin">
                    <form action="#{#search.php#}">
                        <input type="text" name="q" placeholder="Search" class="form-text" />
                        <input type="submit" class="form-submit no-text">
                        <input type="reset" value=" "/>
                    </form>
                    <a class="btn-radius border h4 close">Cancel</a>
                </div>
            </div>
            <div class="search-result-proposal"><ul></ul></div>
        </div>
    </header>
{% else %}
    <header class="desktop">
        <div class="container">
            <div class="twelve columns">
                <table>
                    <tr>
                        <td class="logo">
                            <a href="{{ url('homepage') }}">
                                <img src="{{ asset('bundles/wbbcore/images/logo-placeholder.png') }}" alt="logo" width="157" height="85"/>
                            </a>
                        </td>
                        <td class="nav">
                            {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
                            <nav class="h3">
                                <a href="{{ path('wbb_cities') }}" {% if app.request.attributes.get('_route') == "wbb_cities" %} class="active"{% endif %}>Cities</a>
                                <a href="{{ path('wbb_bar_guides') }}" {% if app.request.attributes.get('_route') == "wbb_bar_guides" or app.request.attributes.get('_route') == "wbb_bar_guides_city" %} class="active"{% endif %}>Bar Guides</a>
                                <a href="{{ path('wbb_news_landing_page') }}" {% if app.request.attributes.get('_route') == "wbb_news_landing_page" %} class="active"{% endif %}>News</a>
                            </nav>
                            <form action="#{#{ path('wbb_cloudsearch_searchresults') }#}">
                                <input type="text" placeholder=" Start typing..." name="q" autocomplete="off"/>
                            </form>
                        </td>
                        <td class="bar-finder">
                            <div class="normal-mode">
                                <a class="finder h3">
                                    <img src="{{ asset('bundles/wbbcore/images/icons/glass.png') }}" alt="glass" width="10" height="16"/>
                                    Bar Finder
                                </a>
                                <img class="separator" src="{{ asset('bundles/wbbcore/images/misc/border.brown.png') }}" alt="border" width="1" height="40"/>
                                <a class="search" href="#0">
                                    <img src="{{ asset('bundles/wbbcore/images/icons/search.png') }}" alt="search" width="16" height="16"/>
                                </a>
                            </div>
                            <div class="search-mode">
                                <a class="btn-round brown close"></a>
                                <a class="btn-round brown open radius-60 text-align-center">GO</a>
                                <img class="separator" src="{{ asset('bundles/wbbcore/images/misc/border.brown.png') }}" alt="border" width="1" height="40"/>
                                <a href="" class="advanced-search h4">
                                    Advanced Search
                                </a>
                            </div>
                        </td>
                        <td>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <span class="logged h3">
                                    <a href="{{ path('fos_user_profile_show') }}">
                                        <img src="{{ showImage(app.user.avatar, 'av_small') }}" alt="{{ app.user.username }}" width="40" height="40"/>
                                        <span>{{ app.user.username }}</span>
                                    </a>
                                    <span class="actions">
                                        <a href="{{ path('fos_user_profile_show') }}">My profile</a>
                                        <a href="{{ path('fos_user_profile_edit') }}">Settings</a>
                                        <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                                    </span>
                                </span>
                            {% else %}
                                <span class="register h4">
                                    <a class="lighbox btn-signin" href="{{ path('wbb_ajax_signin_popin') }}">Sign in</a>
                                    or
                                    <a class="btn-radius" href="{{ path('fos_user_registration_register') }}">Register</a>
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="search-result-proposal"><ul></ul></div>
    </header>
    {% if not is_mobile() or is_tablet() %}
        {{ render(controller('WBBBarBundle:Bar:barFinderForm')) }}
    {% endif %}

{% endif %}
<div class="entire-content">
    <div class="entire-content-scrollable">