{% if is_mobile() and not is_tablet() %}
    <div class="detect-scroll"></div>
    <aside class="mobile-menu">

        <table>

            <tr class="search">
                <td>
                    <form class="dark">
                        <input type="text" placeholder="Search..."/>
                        <input type="submit" value=" "/>
                    </form>
                </td>
            </tr>

            <tr class="header-nav">
                <td>
                    <nav class="h3">
                        <a href="{{ path('wbb_cities') }}">Cities</a>
                        <a href="{{ path('wbb_bar_guides') }}">Bar Guides</a>
                        <a href="">News</a>
                    </nav>
                </td>
            </tr>

            <tr class="links">
                <td>
                    <a class="finder h3">
                        <img src="{{ asset('bundles/wbbcore/images/icons/glass.png') }}" alt="glass" width="10" height="16"/>
                        Bar Finder
                    </a>
                </td>
            </tr>

            <tr class="signin">
                <td>
                    <span class="register h4">
                        <a href="">Sign in</a>
                        or
                        <a class="btn-radius" href="">Register</a>
                    </span>
                </td>
            </tr>

            <tr class="footer-nav">
                <td>
                    <nav class="h4">
                        <a href="">About</a>
                        <a href="">Legal</a>
                        <a href="">Cookies</a>
                        <a href="">Add a bar</a>
                        <a href="">Claim your venue</a>
                        <a href="">Responsible Drinking</a>
                    </nav>
                </td>
            </tr>

            <tr class="socials">
                <td>
                    <a href="" class="facebook">
                        <span><img src="{{ asset('bundles/wbbcore/images/blank.png') }}" alt="social-icon" width="13" height="24"/></span>
                    </a>
                    <a href="" class="twitter">
                        <span><img src="{{ asset('bundles/wbbcore/images/blank.png') }}" alt="social-icon" width="28" height="24"/></span>
                    </a>
                    <a href="" class="instagram">
                        <span><img src="{{ asset('bundles/wbbcore/images/blank.png') }}" alt="social-icon" width="25" height="24"/></span>
                    </a>
                    <a href="" class="pinterest">
                        <span><img src="{{ asset('bundles/wbbcore/images/blank.png') }}" alt="social-icon" width="24" height="24"/></span>
                    </a>
                </td>
            </tr>

            <tr class="touch">
                <td>
                    <h4 class="s-margin-bottom">Keep in touch</h4>

                    <div class="socials">
                        <div class="fb-like" data-href="http://www.facebook.com/worldsbestbars" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
                        <a href="https://twitter.com/WorldsBestBars" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @WorldsBestBars</a>
                    </div>
                </td>
            </tr>

            <tr class="copyright">
                <td>
                    <div class="copy h4">
                        &copy; 2014 World's Best Bars
                    </div>
                </td>
            </tr>
        </table>
    </aside>

    <header class="mobile">

        <div class="container">

            <div class="twelve columns">

                <table>
                    <tr>
                        <td class="nav-icon">
                            <a>
                                <img src="{{ asset('bundles/wbbcore/images/icons/nav.mobile.png') }}" alt="nav.mobile" width="19" height="17"/>
                            </a>
                        </td>

                        <td class="logo">
                            <a href="{{ path('homepage',{city:1}) }}">
                                <img src="{{ asset('bundles/wbbcore/images/logo.png') }}" alt="logo" width="104" height="56"/>
                            </a>
                        </td>

                        <td class="search-pin-icon">
                            <a href="">
                                <img src="{{ asset('bundles/wbbcore/images/icons/pin.border.png') }}" alt="pin.border" width="12" height="16"/>
                            </a>
                            <a href="">
                                <img src="{{ asset('bundles/wbbcore/images/icons/search.png') }}" alt="search" width="16" height="16"/>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </header>
{% else %}
    <header class="desktop">

        <div class="container">

            <div class="twelve columns">

                <table>
                    <tr>

                        <td class="logo">
                            <a href="{{ url('homepage') }}">
                                <img src="{{ asset('bundles/wbbcore/images/logo-placeholder.png') }}" alt="logo" width="157" height="85"/>
                            </a>
                        </td>

                        <td class="nav">
                            <nav class="h3">
                                <a href="{{ path('wbb_cities') }}">Cities</a>
                                <a href="{{ path('wbb_bar_guides') }}">Bar Guides</a>
                                <a href="#0">News</a>
                            </nav>
                            <form>
                                <input type="text" placeholder=" Start typing..." name="q" autocomplete="off"/>
                            </form>
                        </td>

                        <td class="bar-finder">

                            <div class="normal-mode">
                                <a class="finder h3">
                                    <img src="{{ asset('bundles/wbbcore/images/icons/glass.png') }}" alt="glass" width="10" height="16"/>
                                    Bar Finder
                                </a>

                                <img class="separator" src="{{ asset('bundles/wbbcore/images/misc/border.brown.png') }}" alt="border" width="1" height="40"/>

                                <a class="search">
                                    <img src="{{ asset('bundles/wbbcore/images/icons/search.png') }}" alt="search" width="16" height="16"/>
                                </a>
                            </div>
                            <div class="search-mode">
                                <a class="btn-round brown close"></a>

                                <img class="separator" src="{{ asset('bundles/wbbcore/images/misc/border.brown.png') }}" alt="border" width="1" height="40"/>

                                <a href="" class="advanced-search h4">
                                    Advanced Search
                                </a>
                            </div>

                        </td>

                        <td>
                            <span class="register h4">
                                <a href="">Sign in</a>
                                or
                                <a class="btn-radius" href="">Register</a>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="search-result-proposal"><ul></ul></div>

    </header>



    <section class="bar-finder">
        <div class="container">

            <img class="finder-arrow" src="{{ asset('bundles/wbbcore/images/misc/finder.arrow.png') }}" alt="finder.arrow" width="32" height="15"/>

            <div class="twelve columns">

                <a class="finder-close"></a>

                <form>
                    <table>
                        <tr>
                            <td rowspan="2">
                                <h2>Find Your<br/>Best Bar</h2>
                            </td>
                            <td><h3>City</h3></td>
                            <td></td>
                            <td><h3>To go out with</h3></td>
                            <td></td>
                            <td colspan="3"><h3>Mood</h3></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <select class="ui-dropdown dark" name="city" data-class="with-icon city">
                                    <option disabled="disabled">Choose a City</option>
                                    <option value="cty2">City 2</option>
                                    <option value="cty3">City 3</option>
                                    <option value="cty4">City 4</option>
                                    <option value="cty5">City 5</option>
                                    <option value="cty6">City 6</option>
                                </select>
                            </td>
                            <td><img src="{{ asset('bundles/wbbcore/images/misc/chevron.png') }}" alt="chevron" width="8" height="13"/></td>
                            <td>
                                <select class="ui-dropdown dark" name="go_out" data-class="with-icon friend">
                                    <option disabled="disabled">Friends...</option>
                                    <option>Friends</option>
                                    <option>Familly</option>
                                    <option>Wife</option>
                                    <option>Kids</option>
                                    <option>Mother</option>
                                </select>
                            </td>
                            <td><img src="{{ asset('bundles/wbbcore/images/misc/chevron.png') }}" alt="chevron" width="8" height="13"/></td>
                            <td>
                                <input type="radio" name="mood" value="chillout" class="ui-radio dark" data-color="brown" checked="checked"/>
                            <td>
                                <input type="radio" name="mood" value="casual" class="ui-radio dark"/>
                            </td>
                            <td>
                                <input type="radio" name="mood" value="party" class="ui-radio dark"/>
                            </td>
                            <td>
                                <input type="submit" class="btn-radius border brown go" value="GO"/>
                            </td>
                        </tr>
                    </table>
                </form>

            </div>

        </div>
    </section>
{% endif %}
<div class="entire-content">
    <div class="entire-content-scrollable">
