{% extends '::base.html.twig' %}
{% form_theme form _self %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block body %}
    <div class="full-white">
        <div id="change-password" class="page {% if is_mobile() and not is_tablet() %}mobile {% endif %}wrap padding-bottom-20">
            <div class="ui wrap">
                <div class="padding-top-20">
                    <div id="edit-account" class="min-height">
                        <div class="padding-bottom-30">
                            <div class="avatar-profil radius-max {% if is_mobile() and not is_tablet() %}wrap{% else %}left{% endif %}" >
                                <img src="{{  showImage(app.user.avatar, 'avatar_145_145') }}" height="145" width="145" id="avatar-img">
                            </div>
                            <div class="title text-transform-capitalize bold margin-top-30">
                                <h5>{{ app.user.username }}</h5>
                            </div>
                            <div class="subtitle margin-top-25">Change your password</div>
                        </div>
                        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                            <div class="margin-bottom-20">
                                <div class="clear"></div>
                                <div class="group-form margin-top-10">
                                    <label class="margin-right-20">Current Password</label>
                                    {{ form_widget(form.current_password, { 'attr' : { 'class': 'form-text', 'placeholder': '' } }) }}
                                    <div class="clear"></div>
                                </div>
                                <div class="group-form margin-top-10">
                                    <label class="margin-right-20">New password</label>
                                    {{ form_widget(form.plainPassword.first, { 'attr' : { 'class': 'form-text', 'placeholder': '' } }) }}
                                    <div class="clear"></div>
                                </div>
                                <div class="group-form margin-top-10">
                                    <label class="margin-right-20">Confirm New password</label>
                                    {{ form_widget(form.plainPassword.second, { 'attr' : { 'class': 'form-text', 'placeholder': '' } }) }}
                                    <div class="clear"></div>
                                </div>
                                {{ form_rest(form) }}
                                <div class="group-actions margin-top-40 right {% if is_mobile() and not is_tablet() %}margin-bottom-40{% endif %}">
                                    <input type="submit" class="form-submit btn btn-submit text-align-uppercase bold"  value="Done editing">
                                </div>
                        </form>
                        <div class="clear"></div>
                        {% if not form.vars.valid %}
                            <script type="text/javascript">
                                $(function(){
                                    $("#message").show();
                                });
                            </script>
                            <div id="message" class="margin-top-20 margin-bottom-40 wrap">
                                <div>
                                    <ul>
                                        {{ form_errors(form) }}
                                        {{ form_errors(form.current_password) }}
                                        {{ form_errors(form.plainPassword.first) }}
                                        {{ form_errors(form.plainPassword.second) }}
                                    </ul>
                                </div>
                                <div class="clear"></div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <!-- .margin-top-20 -->
                <div class="clear"></div>
            </div>
            <!-- #UI -->
        </div>
        <!-- #editprofile -->
    </div>
{% endblock %}
