{% extends "::base.html.twig" %}
{% block meta %}<meta name="description" content="World Best Bars" />{% endblock %}
{% block title %}World Best Bars{% endblock %}

{% block body %}
<div id="bar-finder" class="mobile bar-finder margin-top-60">
    <div class="title text-transform-uppercase bold">find your best bar</div>
    <div class="content padding-top-10">
        <form action="{{ path('wbb_bar_finder_results') }}" method="post">
            <div class="group-select padding-bottom-10">
                <label class="text-transform-uppercase">city</label>
                <select class="ui-dropdown dark" name="city" data-class="with-icon city">
                    <option value="">Choose a City</option>
                    {% if city %} <option value="">{{ city.name }}</option> {% endif %}
                    {% for c in cities %}
                        <option class="cty{{ loop.index }}" value="{{ c.slug }}">{{ c.name }}</option>
                    {% endfor %}
                </select>
                <div class="clear"></div>
            </div>
            <div class="group-select margin-bottom-10">
                <label class="text-transform-uppercase">To go out with</label>
                <select class="ui-dropdown dark" name="go_out" data-class="with-icon friend">
                    <option value="">Choose with who</option>
                    {% for tag in firstTags %}
                        <option value="{{ tag.id }}">{{ tag.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="clear"></div>
            <div class="group-form radio margin-bottom-50 wrap"> <!-- Mobile [Warning /!\] -->
                <label class="text-transform-uppercase">Mood</label>
                <div class="wrap" style="width:310px">
                    <div style='display:none' class='fake-go-item'>
                        <input type="radio" name="mood" value="" class="ui-radio dark with-icon" data-color="brown" checked=""/>
                    </div>
                    <ul>
                        {% for mood in moods %}
                            <li class="left">
                                <div class="form-radio">
                                    <input type="radio" name="mood" data-value="{{ mood.name |lower }}" value="{{ mood.id }}" class="ui-radio dark with-icon text-transform-capitalize" data-color="brown">
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="group-form margin-bottom-40">
                <input type="submit" value="Go" class="form-submit radius-30 text-transform-uppercase bold">
            </div>
        </form>
    </div>
</div> <!-- #bar-finder -->
{% endblock %}