<div class="line">
{% for b in bars %}
        <article class="bar-w-pic-list">

            <div class="three columns s-margin-top">

                <div class="bar-w-pic list">

                    <a href="{{ favorite_url(app.user, b) }}" class="btn-round star {% if is_favorite(app.user, b) %}active brown changed{% else %}dark{% endif %}"></a>

                    <a href="{{ path('wbb_bar_details',{city: b.city, suburb: b.suburb, slug: b.slug}) }}" class="overlay-link"></a>
                    {% if b.medias|length>0 %}
                        {% for m in b.medias|slice(0,1) %}
                            <img class="scale-with-grid" data-src="{% filter showMedia %}{% path m.media, 'slider_large' %}{% endfilter %}"  alt="{{ b.name }}" width="570" height="428"/>
                        {% endfor %}
                    {% else %}
                        <img class="scale-with-grid" src="{% filter showMedia %}{% endfilter %}" width="282" height="210" alt=""/>
                    {% endif %}
                </div>
            </div>

            <div class="nine columns s-margin-top">
                <h2 class="s-margin-top">
                    <a href="{{ path('wbb_bar_details',{city: b.city, suburb: b.suburb, slug: b.slug}) }}">
                        {{ b.name }}
                        {% if distance is defined and distance|length>0 and distance.city is not null %}
                            {{ b.calculateDistance(distance.latitude, distance.longitude, distance.city.isUSCity) }}
                        {% endif %}
                    </a>
                </h2>
                {% if b.city and b.suburb %}
                <h3 class="xs-margin-top"><a href="{{ path('wbb_bar_details',{city: b.city, suburb: b.suburb, slug: b.slug}) }}">{{ b.suburb.name|default('Unspecified') }}, {{ b.city.name|default('Unspecified') }}</a></h3>
                {% endif %}
                <p class="s-margin-top">
                    {{ b.seoDescription|truncate(200, true, '...')|striptags }}
                </p>
                <div class="tags">
                    {% for tr in b.tagsToShow |slice(0, 5) %}
                        {{ tr.name }}{% if not loop.last %}, {% endif %}
                    {% endfor%}
                </div>
            </div>
            <div class="separator"><hr/></div>
        </article>
{% endfor %}
</div>

