{% extends '::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="full-cream">
        <div id="register" class="page {% if is_mobile() and not is_tablet() %}mobile{% endif %} wrap">
            <div class="ui wrap">
                <div class="title text-transform-uppercase padding-top-25 bold">Register</div>
                <div class="margin-top-20">
                    <div id="create-account">
                        <div class="subtitle text-transform-uppercase margin-top-25 bold">Create an account now</div>
                        <div class="connect-fb margin-top-20 text-align-center">Pre fill your profile with <a href="#linkto" onclick="fillInForm('#register_form_full');" class="btn btn-create-with-fb radius-30">Facebook</a></div>
                        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" id="register_form_full">
                            <div class="text-align-left margin-bottom-10">
                                <div class="group-form margin-top-25">
                                    <label class="margin-right-20 text-align-right unbold xs-hidden">Pseudo</label>
                                    {{ form_widget(form.username, { 'attr' : { 'class': 'form-text text-align-center', 'placeholder': 'Pseudo' } }) }}
                                    <div class="clear"></div>
                                </div>
                                <div class="select-two margin-top-10 gender">
                                    <label class="margin-right-20 text-align-right unbold">Gender</label>
                                    <div class="left" style="width: 300px">
                                        {{ form_widget(form.title, { 'attr' : { 'class': 'ui-dropdown' } }) }}
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="group-form margin-top-10">
                                    <label class="margin-right-20 text-align-right unbold xs-hidden">Firstname</label>
                                    {{ form_widget(form.firstname, { 'attr' : { 'class': 'form-text text-align-center', 'placeholder': 'Firstname' } }) }}
                                    <div class="clear"></div>
                                </div>
                                <div class="group-form margin-top-10">
                                    <label class="margin-right-20 text-align-right unbold xs-hidden">Lastname</label>
                                    {{ form_widget(form.lastname, { 'attr' : { 'class': 'form-text text-align-center', 'placeholder': 'Lastname' } }) }}
                                    <div class="clear"></div>
                                </div>
                                <div class="group-form margin-top-10">
                                    <label class="margin-right-20 text-align-right unbold xs-hidden">Email</label>
                                    {{ form_widget(form.email, { 'attr' : { 'class': 'form-text text-align-center', 'placeholder': 'Email' } }) }}
                                    <div class="clear"></div>
                                </div>
                                <div class="group-form margin-top-10">
                                    <label class="margin-right-20 text-align-right unbold xs-hidden">Password</label>
                                    {{ form_widget(form.plainPassword.first, { 'attr' : { 'class': 'form-text text-align-center', 'placeholder': 'Password' } }) }}
                                    <div class="clear"></div>
                                </div>
                                <div class="group-form margin-top-10">
                                    <label class="margin-right-20 text-align-right unbold xs-hidden">Confirm Password</label>
                                    {{ form_widget(form.plainPassword.second, { 'attr' : { 'class': 'form-text text-align-center', 'placeholder': 'Confirm Password' } }) }}
                                    <div class="clear"></div>
                                </div>
                            </div>

                            <div class="date-birthday text-align-center ui-dropdown-list-form">
                                <label class="margin-right-20 text-align-right unbold">Date of Birth</label>
                                <div class="select-wrap left">
                                    {{ form_widget(form.birthdate.month, { 'attr' : { 'class': 'ui-dropdown' } }) }}
                                </div>
                                <div class="select-wrap left">
                                    {{ form_widget(form.birthdate.day, { 'attr' : { 'class': 'ui-dropdown', 'placeholder': '' } }) }}
                                </div>
                                <div class="select-wrap left last">
                                    {{ form_widget(form.birthdate.year, { 'attr' : { 'class': 'ui-dropdown' } }) }}
                                </div>
                            </div>
                            <div class="clear"></div>

                            <div class="select-two margin-top-10 ui-dropdown-list-form">
                                <label class="margin-right-20 text-align-right unbold">Country</label>
                                <div class="left" style="width: 300px">
                                    {{ form_widget(form.country, { 'attr' : { 'class': 'ui-dropdown' } }) }}
                                </div>
                            </div>
                            <div class="clear"></div>

                            <div class="group-form margin-top-10">
                                <label class="margin-right-20 text-align-right unbold xs-hidden">Cities you like to go</label>
                                {{ form_widget(form.prefCity1, { 'attr' : { 'class': 'form-text auto-city', 'placeholder': 'Choose a city' } }) }}
                                <div class="clear"></div>
                            </div>

                            <div class="group-form margin-top-10 form-text-without-label">
                                {{ form_widget(form.prefCity2, { 'attr' : { 'class': 'form-text auto-city', 'placeholder': 'Choose a city' } }) }}
                                <div class="clear"></div>
                            </div>

                            <div class="group-form margin-top-10 form-text-without-label">
                                {{ form_widget(form.prefCity3, { 'attr' : { 'class': 'form-text auto-city', 'placeholder': 'Choose a city' } }) }}
                                <div class="clear"></div>
                            </div>

                            <div class="group-form margin-top-10">
                                <label class="margin-right-20 text-align-right unbold xs-hidden">Favorite Bars</label>
                                {{ form_widget(form.prefBar1, { 'attr' : { 'class': 'form-text auto-bars', 'placeholder': 'Choose a bar' } }) }}
                                <div class="clear"></div>
                            </div>

                            <div class="group-form margin-top-10 form-text-without-label">
                                {{ form_widget(form.prefBar2, { 'attr' : { 'class': 'form-text auto-bars', 'placeholder': 'Choose a bar' } }) }}
                                <div class="clear"></div>
                            </div>

                            <div class="group-form margin-top-10 form-text-without-label">
                                {{ form_widget(form.prefBar3, { 'attr' : { 'class': 'form-text auto-bars', 'placeholder': 'Choose a bar' } }) }}
                                <div class="clear"></div>
                            </div>

                            <div class="group-form margin-top-10">
                                <label class="margin-right-20 text-align-right unbold xs-hidden">Drink brands</label>
                                {{ form_widget(form.prefDrinkBrand1, { 'attr' : { 'class': 'form-text auto-brands', 'placeholder': 'Choose a brand' } }) }}
                                <div class="clear"></div>
                            </div>

                            <div class="group-form margin-top-10 form-text-without-label">
                                {{ form_widget(form.prefDrinkBrand2, { 'attr' : { 'class': 'form-text auto-brands', 'placeholder': 'Choose a brand' } }) }}
                                <div class="clear"></div>
                            </div>

                            <div class="group-form margin-top-10 form-text-without-label">
                                {{ form_widget(form.prefDrinkBrand3, { 'attr' : { 'class': 'form-text auto-brands', 'placeholder': 'Choose a brand' } }) }}
                                <div class="clear"></div>
                            </div>

                            <div class="group-form margin-top-10">
                                <label class="margin-right-20 text-align-right unbold xs-hidden">Categories or cocktails</label>
                                {{ form_widget(form.prefCocktails1, { 'attr' : { 'class': 'form-text auto-cocktails', 'placeholder': 'Choose a cocktail' } }) }}
                                <div class="clear"></div>
                            </div>

                            <div class="group-form margin-top-10 form-text-without-label">
                                {{ form_widget(form.prefCocktails2, { 'attr' : { 'class': 'form-text auto-cocktails', 'placeholder': 'Choose a cocktail' } }) }}
                                <div class="clear"></div>
                            </div>

                            <div class="group-form margin-top-10 form-text-without-label">
                                {{ form_widget(form.prefCocktails3, { 'attr' : { 'class': 'form-text auto-cocktails', 'placeholder': 'Choose a cocktail' } }) }}
                                <div class="clear"></div>
                            </div>

                            <div class="group-checkbox">
                                <div class="group-form checkbox margin-top-10">
                                    <label class="wrap">{{ form_widget(form.stayInformed,  {'attr': {'class': 'form-checkbox left'}}) }}
                                        Subscribe to our newsletters</label>
                                </div>

                                <div class="group-form checkbox margin-top-10">
                                    <label class="wrap">{{ form_widget(form.stayBrandInformed,  {'attr': {'class': 'form-checkbox left'}}) }}
                                        Subscribe to our partners newsletters</label>
                                </div>
                            </div>

                            {{ form_rest(form) }}
                            <div class="clear"></div>
                            <div class="group-actions margin-top-20 wrap">
                                <input type="submit" class="form-submit btn btn-submit text-align-uppercase bold" value="CREATE YOUR ACCOUNT">
                            </div>
                        </form>
                        <div class="clear"></div>
                        <div id="message" class="margin-top-20 wrap" style="display:none;">
                            <div>
                                <ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div> <!-- ui.wrap -->
        </div> <!-- #register -->
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/wbbcore/css/jquery_ui/jquery-ui.min.css') }}" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/bundles/wbbcore/js/plugins/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/bundles/wbbcore/js/plugins/icheck.min.js"></script>
    <script type="text/javascript" src="/bundles/wbbuser/js/modules/profile.edit.wbb.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.form-checkbox').iCheck({
                checkboxClass: 'icheckbox_flat',
                increaseArea: '20%' // optional
            });
        });
    </script>
{% endblock %}