{% extends '::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="full-cream">
        <div id="register" class="page {% if is_mobile() and not is_tablet() %}mobile{% endif %} wrap">
            <div class="ui wrap">
                <div class="title text-transform-uppercase padding-top-25 bold">Register</div>
                <div class="margin-top-20">
                    <div id="create-account">
                        <div class="subtitle text-transform-uppercase margin-top-25 bold">Create an account now</div>
                        <div class="connect-fb margin-top-20 text-align-center">Pre fill your profile with <a href="#linkto" onclick="fillInForm('#register_form_full');" class="btn btn-create-with-fb radius-30">Facebook</a></div>
                        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" id="register_form_full">
                            <div class="text-align-left margin-bottom-10">

                                <div class="group-form margin-top-25">
                                    <label class="margin-right-20 text-align-right unbold xs-hidden">Pseudo</label>
                                    <div class="form-input left">
                                        {% if is_mobile() and not is_tablet() %}
                                            {{ form_widget(form.username, { 'attr' : { 'class': 'form-text', 'placeholder': 'Pseudo' } }) }}
                                        {% else %}
                                            {{ form_widget(form.username, { 'attr' : { 'class': 'form-text text-align-center', 'placeholder': '' } }) }}
                                        {% endif %}
                                    </div>
                                    <div class="clear"></div>
                                </div>

                                <div class="select-two margin-top-10 gender">
                                    <label class="margin-right-20 text-align-right unbold">Gender</label>
                                    <div class="left" style="width: 302px">
                                        {{ form_widget(form.title, { 'attr' : { 'class': is_mobile() or is_tablet() ?  'ui-dropdown' : 'select2-dropdown'} }) }}
                                    </div>
                                </div>
                                <div class="clear"></div>
                                
                                <div class="group-form margin-top-10">
                                    <label class="margin-right-20 text-align-right unbold xs-hidden">Firstname</label>
                                    <div class="form-input left">
                                        {% if is_mobile() and not is_tablet() %}
                                            {{ form_widget(form.firstname, { 'attr' : { 'class': 'form-text', 'placeholder': 'Firstname' } }) }}
                                        {% else %}
                                            {{ form_widget(form.firstname, { 'attr' : { 'class': 'form-text text-align-center', 'placeholder': '' } }) }}
                                        {% endif %}
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                
                                <div class="group-form margin-top-10">
                                    <label class="margin-right-20 text-align-right unbold xs-hidden">Lastname</label>
                                    <div class="form-input left">
                                        {% if is_mobile() and not is_tablet() %}
                                            {{ form_widget(form.lastname, { 'attr' : { 'class': 'form-text', 'placeholder': 'Lastname' } }) }}
                                        {% else %}
                                            {{ form_widget(form.lastname, { 'attr' : { 'class': 'form-text text-align-center', 'placeholder': '' } }) }}
                                        {% endif %}
                                    </div>
                                    <div class="clear"></div>
                                </div>

                                <div class="group-form margin-top-10">
                                    <label class="margin-right-20 text-align-right unbold xs-hidden">Email</label>
                                    <div class="form-input left">
                                        {% if is_mobile() and not is_tablet() %}
                                            {{ form_widget(form.email, { 'attr' : { 'class': 'form-text', 'placeholder': 'Email' } }) }}
                                        {% else %}
                                            {{ form_widget(form.email, { 'attr' : { 'class': 'form-text text-align-center', 'placeholder': '' } }) }}
                                        {% endif %}
                                    </div>
                                    <div class="clear"></div>
                                </div>

                                <div class="group-form margin-top-10">
                                    <label class="margin-right-20 text-align-right unbold xs-hidden">Password</label>
                                    <div class="form-input left">
                                        {% if is_mobile() and not is_tablet() %}
                                            {{ form_widget(form.plainPassword.first, { 'attr' : { 'class': 'form-text', 'placeholder': 'Password' } }) }}
                                        {% else %}
                                            {{ form_widget(form.plainPassword.first, { 'attr' : { 'class': 'form-text text-align-center', 'placeholder': '' } }) }}
                                        {% endif %}
                                    </div>
                                    <div class="clear"></div>
                                </div>

                                <div class="group-form margin-top-10">
                                    <label class="margin-right-20 text-align-right unbold xs-hidden">Confirm Password</label>
                                    <div class="form-input left">
                                        {% if is_mobile() and not is_tablet() %}
                                            {{ form_widget(form.plainPassword.second, { 'attr' : { 'class': 'form-text', 'placeholder': 'Confirm Password' } }) }}
                                        {% else %}
                                            {{ form_widget(form.plainPassword.second, { 'attr' : { 'class': 'form-text text-align-center', 'placeholder': '' } }) }}
                                        {% endif %}
                                    </div>
                                    <div class="clear"></div>
                                </div>

                            </div>

                            <div class="date-birthday text-align-center ui-dropdown-list-form {% if is_mobile() and not is_tablet() %}margin-top-30{% endif %}">
                                <label class="margin-right-20 text-align-right unbold">Date of Birth</label>
                                <div class="select-wrap left">
                                    {{ form_widget(form.birthdate.month, { 'attr' : { 'class':  is_mobile() or is_tablet() ?  'ui-dropdown' : 'select2-dropdown' } }) }}
                                </div>
                                <div class="select-wrap left">
                                    {{ form_widget(form.birthdate.day, { 'attr' : { 'class': is_mobile() or is_tablet() ?  'ui-dropdown' : 'select2-dropdown', 'placeholder': '' } }) }}
                                </div>
                                <div class="select-wrap left last">
                                    {{ form_widget(form.birthdate.year, { 'attr' : { 'class':  is_mobile() or is_tablet() ?  'ui-dropdown' : 'select2-dropdown' } }) }}
                                </div>
                            </div>
                            <div class="clear"></div>

                            <div class="select-two margin-top-10 ui-dropdown-list-form country-dropdown">
                                <label class="margin-right-20 text-align-right unbold">Country</label>
                                <div class="left" style="width: 302px">
                                    {% if is_mobile() and not is_tablet() %}
                                        {{ form_widget(form.country, { 'attr' : { 'class':  is_mobile() or is_tablet() ?  'ui-dropdown' : 'select2-dropdown country-select' } }) }}
                                    {% else %}
                                        {{ form_widget(form.country, { 'attr' : { 'class':  is_mobile() or is_tablet() ?  'ui-dropdown' : 'select2-dropdown' }, 'empty_value' : 'Please choose your country' }) }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="clear"></div>

                            <div class="group-form {% if is_mobile() and not is_tablet() %}margin-top-30{% else %}margin-top-10{% endif %}">
                                <label class="margin-right-20 text-align-right unbold">Cities you like to go</label>
                                <div class="form-input left">
                                    {{ form_widget(form.prefCity1, { 'attr' : { 'class': 'form-text auto-city', 'placeholder': '' } }) }}
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="group-form margin-top-10 form-text-without-label">
                                {{ form_widget(form.prefCity2, { 'attr' : { 'class': 'form-text auto-city', 'placeholder': '' } }) }}
                                <div class="clear"></div>
                            </div>

                            <div class="group-form margin-top-10 form-text-without-label">
                                {{ form_widget(form.prefCity3, { 'attr' : { 'class': 'form-text auto-city', 'placeholder': '' } }) }}
                                <div class="clear"></div>
                            </div>

                            <div class="group-form {% if is_mobile() and not is_tablet() %}margin-top-30{% else %}margin-top-10{% endif %}">
                                <label class="margin-right-20 text-align-right unbold">Favorite Bars</label>
                                <div class="form-input left">
                                    {{ form_widget(form.prefBar1, { 'attr' : { 'class': 'form-text auto-bars', 'placeholder': '' } }) }}
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="group-form margin-top-10 form-text-without-label">
                                {{ form_widget(form.prefBar2, { 'attr' : { 'class': 'form-text auto-bars', 'placeholder': '' } }) }}
                                <div class="clear"></div>
                            </div>

                            <div class="group-form margin-top-10 form-text-without-label">
                                {{ form_widget(form.prefBar3, { 'attr' : { 'class': 'form-text auto-bars', 'placeholder': '' } }) }}
                                <div class="clear"></div>
                            </div>

                            <div class="group-form {% if is_mobile() and not is_tablet() %}margin-top-30{% else %}margin-top-10{% endif %}">
                                <label class="margin-right-20 text-align-right unbold">Drink brands</label>
                                <div class="form-input left">
                                    {{ form_widget(form.prefDrinkBrand1, { 'attr' : { 'class': 'form-text auto-brands', 'placeholder': '' } }) }}
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="group-form margin-top-10 form-text-without-label">
                                {{ form_widget(form.prefDrinkBrand2, { 'attr' : { 'class': 'form-text auto-brands', 'placeholder': '' } }) }}
                                <div class="clear"></div>
                            </div>

                            <div class="group-form margin-top-10 form-text-without-label">
                                {{ form_widget(form.prefDrinkBrand3, { 'attr' : { 'class': 'form-text auto-brands', 'placeholder': '' } }) }}
                                <div class="clear"></div>
                            </div>

                            <div class="group-form {% if is_mobile() and not is_tablet() %}margin-top-30{% else %}margin-top-10{% endif %}">
                                <label class="margin-right-20 text-align-right unbold">Categories or cocktails</label>
                                <div class="form-input left">
                                    {{ form_widget(form.prefCocktails1, { 'attr' : { 'class': 'form-text auto-cocktails', 'placeholder': '' } }) }}
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="group-form margin-top-10 form-text-without-label">
                                {{ form_widget(form.prefCocktails2, { 'attr' : { 'class': 'form-text auto-cocktails', 'placeholder': '' } }) }}
                                <div class="clear"></div>
                            </div>

                            <div class="group-form margin-top-10 form-text-without-label">
                                {{ form_widget(form.prefCocktails3, { 'attr' : { 'class': 'form-text auto-cocktails', 'placeholder': '' } }) }}
                                <div class="clear"></div>
                            </div>

                            <div class="group-checkbox">
                                <div class="group-form checkbox margin-top-10">
                                    <label class="wrap">{{ form_widget(form.stayInformed,  {'attr': {'class': 'form-checkbox left'}}) }}
                                        I would like to receive emails with offers <br/>and updates from World’s Best Bars and Pernod Ricard</label>
                                </div>

                                <div class="group-form checkbox margin-top-10">
                                    <label class="wrap">{{ form_widget(form.stayBrandInformed,  {'attr': {'class': 'form-checkbox left'}}) }}
                                        I would like to receive emails with offers <br/>from Pernod Ricard’s business partners</label>
                                </div>
                            </div>

                            {{ form_rest(form) }}
                            <div class="clear"></div>
                            <div class="group-actions margin-top-30 margin-bottom-50 wrap">
                                <input type="submit" class="form-submit btn btn-submit text-align-uppercase bold" value="CREATE YOUR ACCOUNT">
                                    <div class="floatingBarsG">
                                        <div class="blockG" id="rotateG_01">
                                        </div>
                                        <div class="blockG" id="rotateG_02">
                                        </div>
                                        <div class="blockG" id="rotateG_03">
                                        </div>
                                        <div class="blockG" id="rotateG_04">
                                        </div>
                                        <div class="blockG" id="rotateG_05">
                                        </div>
                                        <div class="blockG" id="rotateG_06">
                                        </div>
                                        <div class="blockG" id="rotateG_07">
                                        </div>
                                        <div class="blockG" id="rotateG_08">
                                        </div>
                                    </div>
                            </div>
                        </form>
                        <div class="clear"></div>
                        <div id="message" class="margin-top-20 margin-bottom-20 wrap" style="display:none;">
                            <div>
                                <ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div> <!-- ui.wrap -->
        </div> <!-- #register -->
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/wbbcore/css/jquery_ui/jquery-ui.min.css') }}" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/plugins/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/wbbcore/js/plugins/icheck.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/wbbuser/js/modules/profile.edit.wbb.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.form-checkbox').iCheck({
                checkboxClass: 'icheckbox_flat',
                increaseArea: '20%' // optional
            });

            // init Select 2
            $("select.select2-dropdown").select2({
                minimumResultsForSearch: -1
            });

            // add the search
            $('select.select2-dropdown#fos_user_registration_form_country').select2({
                minimumResultsForSearch: 20
            })
        });
    </script>
{% endblock %}