<div class="page-form wrap">
    <div class="padding-top-20 padding-bottom-20">
        <form action="{{ url }}">
            <div class="group-form margin-top-20">
                {{ form_widget(form.firstName, { 'attr' : { 'class': 'form-text text-align-center left' } }) }}
                <div class="clear"></div>
            </div>
            <div class="group-form margin-top-20">
                {{ form_widget(form.lastName, { 'attr' : { 'class': 'form-text text-align-center left' } }) }}
                <div class="clear"></div>
            </div>
            <div class="group-form margin-top-20">
                {{ form_widget(form.emailFrom, { 'attr' : { 'class': 'form-text text-align-center left' } }) }}
                <div class="clear"></div>
            </div>
            <div class="group-form margin-top-20">
                {{ form_widget(form.emailTo, { 'attr' : { 'class': 'form-text text-align-center left' } }) }}
                <div class="clear"></div>
            </div>
            <div class="group-form margin-top-20">
                {{ form_widget(form.content, {'value': text, 'attr' : { 'class': 'form-textarea radius-20 left' } }) }}
            </div>
            <div class="clear"></div>
            <div class="group-actions padding-top-20 wrap">
                <input type="submit" class="form-submit btn btn-submit text-align-uppercase bold" value="Send email">

                {{ form_rest(form) }}
            </div>
        </form>
    </div>
</div>