<div class="page-form wrap">
    <div class="padding-top-20 padding-bottom-20">
        <form id="wbb_share_form" action="{{ url }}">
            <div class="group-form margin-top-20">
                <div class="left" style="width: 50%">
                    {{ form_widget(form.firstName, { 'attr' : { 'class': 'form-text text-align-center left' } }) }}
                </div>
                <div class="left" style="width: 50%">
                    {{ form_widget(form.lastName, { 'attr' : { 'class': 'form-text text-align-center left' } }) }}
                </div>
                <div class="clear"></div>
            </div>
            <div class="group-form margin-top-10">
                <div class="left" style="width: 50%">
                    {{ form_widget(form.emailFrom, { 'attr' : { 'class': 'form-text text-align-center left' } }) }}
                </div>
                <div class="left" style="width: 50%">
                    {{ form_widget(form.emailTo, { 'attr' : { 'class': 'form-text text-align-center left' } }) }}
                </div>
                <div class="clear"></div>
            </div>
            <div class="group-form margin-top-10" style="width: 107%">
                {{ form_widget(form.content, {'value': text|raw, 'attr' : { 'class': 'form-textarea radius-20 left' } }) }}
            </div>
            <div class="clear"></div>
            <div class="group-actions padding-top-40 wrap">
                <input type="submit" class="form-submit btn btn-submit text-align-uppercase bold" value="Send email">

                {{ form_rest(form) }}
            </div>
            <div class="clear"></div>
            <div id="message" class="margin-top-20 margin-bottom-40 wrap" style="display: none;">
                <div>
                </div>
            </div>
            <div class="clear"></div>
        </form>
    </div>
</div>