{% extends '::Email/layout.email.twig' %}

{% block subject %}{{ subject|raw }}{% endblock %}
{% block title %}{{ subject|raw }}{% endblock %}
{% block body_content %}
    <tr>
        <td class="container">
            <table class="wrap">
                <tr>
                    <td align="center">
                        <p style="margin-bottom: 35px">Hello {{ fullName }}, </p>
                        <p style="margin-bottom: 35px; line-height: 24px;">
                            Your password has been changed, here is your new credentials: <br />
                            Email: {{ email }} <br />
                            Password: {{ password }}</p>
                        <p style="margin-bottom: 35px; line-height: 24px;">Best regards</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}