{% extends '::Email/layout.email.twig' %}

{% block subject %}{{ subject|raw }}{% endblock %}
{% block title %}{{ subject|raw }}{% endblock %}
{% block body_content %}
    <tr>
        <td class="container" style="font-family: Arial; display: block !important; max-width: 700px !important; clear: both !important; overflow: hidden; margin: 0 auto;">
            <table class="wrap" style="font-family: Arial; width: 100%;">
                <tr>
                    <td align="center" style="font-family: Arial;">
                        <p style="margin-bottom: 35px; font-family: Arial; color: #818a8c; font-size: 15px;">
                            Hi {{ fullName }}!
                        </p>

                        <p style="margin-bottom: 35px; line-height: 24px; font-family: Arial; color: #818a8c; font-size: 15px;">
                            {{ message|nl2br }}
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr><!-- [ DETAIL BAR ] -->
    <tr>
        <td class="container" style="font-family: Arial; display: block !important; max-width: 700px !important; clear: both !important; overflow: hidden; margin: 0 auto;">
            <table class="wrap" style="font-family: Arial; width: 100%;">
                <tr>
                    <td width="308" style="font-family: Arial; vertical-align: top;" valign="top">
                        <a href="{{ url('wbb_news_details_page',{newsSlug: news.slug}) }}" style="font-family: Arial; text-decoration: none;">
                            {% if news.medias|length>0 %}
                                {% for m in news.medias|slice(0,1) %}
                                    <img class="scale-with-grid" src="{{ app.request.schemeAndHttpHost}}{{ showImage(m.media, 'news_425_320') }}"  alt="{{ news.title }}" width="285" height="214"/>
                                {% endfor %}
                            {% else %}
                                <img class="scale-with-grid" src="{{ app.request.schemeAndHttpHost}}{{ showImage(null, 'news_425_320') }}" alt="{{ news.title }}" width="285" height="214" alt=""/>
                            {% endif %}
                        </a>
                    </td>
                    <td valign="top" style="vertical-align: top;">
                        <div class="name" style="font-size: 19px; font-family: Arial; color: #b3955f; text-transform: uppercase;">
                            <a href="{{ url('wbb_news_details_page',{newsSlug: news.slug}) }}" style="font-size: 19px; font-family: Arial; color: #b3955f; text-transform: uppercase; text-decoration: none;">
                                {{ news.title|slice(0, 25) }}{% if news.title|length > 25 %}...{% endif %}
                            </a>
                        </div>
                        <p style="color: #818a8c; font-size: 16px; font-family: arial, serif; line-height: 26px;">
                            {{ news.seoDescription|raw|truncate(100) }}
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}