{% extends '::base.html.twig' %}
{% block bodyTag %}
<body class="editprofile">
{% endblock %}
{% block body %}
    <div class="full-white">
        <div id="editprofile" class="page {% if is_mobile() and not is_tablet() %}mobile {% endif %}wrap padding-bottom-20">
            <div  class="ui wrap">
                <div class="padding-top-20">
                    <div id="edit-account">
                        <form id="edit_profile_form" action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
                            <div class="block-top wrap">
                                <div class="avatar-profil cover {% if is_mobile() and not is_tablet() %}wrap margin-bottom-20{% else %}left{% endif %} radius-max" >
                                    <img src="{{  showImage(user.avatar, 'avatar_145_145', user) }}" height="145" width="145" id="avatar-img">
                                </div>
                                {% if is_mobile() and not is_tablet() %}<div class="clear"></div>{% endif %}
                                <div class="group left">
                                    <div class="title text-transform-capitalize bold {% if is_mobile() and not is_tablet() %}margin-bottom-20{% endif %}">
                                        <h5>{{ user.username }}</h5>
                                    </div>
                                    <div class="subgroup margin-top-10 {% if is_mobile() and not is_tablet() %}margin-bottom-10{% else %}margin-bottom-40{% endif %} wrap">
                                        {% if city %}
                                            <div class="text-transform-capitalize text-align-center margin-top-20">
                                                <div class="city">
                                                    <img src="{{ asset('bundles/wbbcore/images/UI/icon_map.jpg') }}">
                                                    {% if city %}
                                                        {{ city ~ ',' }}
                                                    {% endif %}
                                                    {% if city.country %}
                                                        {{ city.country }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% elseif user.prefStartCity or user.country %}
                                            <div class="text-transform-capitalize text-align-center margin-top-20">
                                                <div class="city">
                                                    <img src="{{ asset('bundles/wbbcore/images/UI/icon_map.jpg') }}">
                                                    {% if user.prefStartCity %}
                                                        {{ user.prefStartCity ~ ',' }}
                                                        {{ user.prefStartCity.country }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="text-transform-capitalize text-align-center margin-top-20">
                                                <div class="city">
                                                    &nbsp;
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="form-group">
                                            <div class="file-image wrap">
                                                {{ form_widget(form.avatar, { 'attr' : { 'class': 'form-file no-text' } }) }}
                                            </div>
                                            <div class="file-name-selected-screen clear"><p class="subtitle small-text"></p><span class='ie9-close-pic'>X</span></div>
                                            <div class='file-name-selected-screen-clear clear'></div>
                                            <p class="subtitle small-text grey">Upload your profile picture (Jpg/Png)</p>
                                        </div>
                                    </div> <!-- .subgroup.right -->
                                </div> <!-- .group.right -->
                            </div>
                            {% if not is_mobile() or is_tablet() %}
                                <div class="margin-bottom-20">
                                    <div class="clear"></div>
                                    <div class="select-two margin-top-10 gender">
                                        <label class="margin-right-20">Gender</label>
                                        <div class="left" style="{% if is_mobile() and not is_tablet() %}width: 100%{% else %}{% if is_mobile() and not is_tablet() %}width: 100%{% else %}width: 300px{% endif %}{% endif %}">
                                            {{ form_widget(form.title, { 'attr' : { 'class':  is_mobile() or is_tablet() ?  'ui-dropdown' : 'select2-dropdown' } }) }}
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="group-form margin-top-10">
                                        <label class="margin-right-20">Pseudo</label>
                                        {% if 'username' in errors.fields %}
                                            {{ form_widget(form.username, { 'attr' : { 'class': 'form-text error'} }) }}
                                        {% else %}
                                            {{ form_widget(form.username, { 'attr' : { 'class': 'form-text'} }) }}
                                        {% endif %}
                                        <div class="clear"></div>
                                    </div>
                                    <div class="group-form margin-top-10">
                                        <label class="margin-right-20">Firstname</label>
                                        {% if 'firstname' in errors.fields %}
                                            {{ form_widget(form.firstname, { 'attr' : { 'class': 'form-text error'} }) }}
                                        {% else %}
                                            {{ form_widget(form.firstname, { 'attr' : { 'class': 'form-text'} }) }}
                                        {% endif %}
                                        <div class="clear"></div>
                                    </div>
                                    <div class="group-form margin-top-10">
                                        <label class="margin-right-20">Lastname</label>
                                        {% if 'lastname' in errors.fields %}
                                            {{ form_widget(form.lastname, { 'attr' : { 'class': 'form-text error'} }) }}
                                        {% else %}
                                            {{ form_widget(form.lastname, { 'attr' : { 'class': 'form-text'} }) }}
                                        {% endif %}
                                        <div class="clear"></div>
                                    </div>
                                    <div class="group-form margin-top-10">
                                        <label class="margin-right-20">Email</label>
                                        {% if 'email' in errors.fields %}
                                            {{ form_widget(form.email, { 'attr' : { 'class': 'form-text error'} }) }}
                                        {% else %}
                                            {{ form_widget(form.email, { 'attr' : { 'class': 'form-text'} }) }}
                                        {% endif %}
                                        <div class="clear"></div>
                                        {% if not user.confirmed %}
                                            <p class="block-help text-align-right margin-right-40">
                                                <a id="resend-validation">An email is waiting for your confirmation</a>
                                            </p>
                                        {% endif %}
                                        <div class="clear"></div>
                                    </div>
                                    <div class="{% if 'birthday' in errors.fields %}error{% endif %} date-birthday text-align-center margin-top-10">
                                        <label class="margin-right-20">Date of Birth</label>
                                        <div{% if is_mobile() and not is_tablet() %} class="date-width" style="width: 380px"{% endif %}>
                                            <div class="select-wrap left">
                                                {{ form_widget(form.birthdate.month, { 'attr' : { 'class':  is_mobile() or is_tablet() ?  'ui-dropdown' : 'select2-dropdown' } }) }}
                                            </div>
                                            <div class="select-wrap left">
                                                {{ form_widget(form.birthdate.day, { 'attr' : { 'class':  is_mobile() or is_tablet() ?  'ui-dropdown' : 'select2-dropdown', 'placeholder': '' } }) }}
                                            </div>
                                            <div class="select-wrap left last">
                                                {{ form_widget(form.birthdate.year, { 'attr' : { 'class':  is_mobile() or is_tablet() ?  'ui-dropdown' : 'select2-dropdown' } }) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>

                                    <div class="country-dropdown select-two margin-top-10">
                                        <label class="margin-right-20">Country</label>
                                        <div class="left" style="{% if is_mobile() and not is_tablet() %}width: 100%{% else %}width: 302px{% endif %}">
                                            {% if 'country' in errors.fields %}
                                                {{ form_widget(form.country, { 'attr' : { 'class':  is_mobile() or is_tablet() ?  'ui-dropdown error' : 'select2-dropdown error' } }) }}
                                            {% else %}
                                                {{ form_widget(form.country, { 'attr' : { 'class':  is_mobile() or is_tablet() ?  'ui-dropdown' : 'select2-dropdown' } }) }}
                                            {% endif %}
                                        </div>
                                    </div><!-- #countries -->
                                    <div class="clear"></div>
                                </div>

                                <div class="group-form margin-top-10">
                                    <label class="margin-right-20">Cities you like to go</label>
                                    {{ form_widget(form.prefCity1, { 'attr' : { 'class': 'form-text auto-city', 'placeholder': '' } }) }}
                                    <div class="clear"></div>
                                </div>

                                <div class="group-form margin-top-10 form-text-without-label">
                                    {{ form_widget(form.prefCity2, { 'attr' : { 'class': 'form-text auto-city', 'placeholder': '' } }) }}
                                    <div class="clear"></div>
                                </div>

                                <div class="group-form margin-top-10 form-text-without-label">
                                    {{ form_widget(form.prefCity3, { 'attr' : { 'class': 'form-text auto-city', 'placeholder': '' } }) }}
                                    <div class="clear"></div>
                                </div>

                                <div class="group-form margin-top-10">
                                    <label class="margin-right-20">Favorite Bars</label>
                                    {{ form_widget(form.prefBar1, { 'attr' : { 'class': 'form-text auto-bars', 'placeholder': '' } }) }}
                                    <div class="clear"></div>
                                </div>

                                <div class="group-form margin-top-10 form-text-without-label">
                                    {{ form_widget(form.prefBar2, { 'attr' : { 'class': 'form-text auto-bars', 'placeholder': '' } }) }}
                                    <div class="clear"></div>
                                </div>

                                <div class="group-form margin-top-10 form-text-without-label">
                                    {{ form_widget(form.prefBar3, { 'attr' : { 'class': 'form-text auto-bars', 'placeholder': '' } }) }}
                                    <div class="clear"></div>
                                </div>

                                <div class="group-form margin-top-10">
                                    <label class="margin-right-20">Drink brands</label>
                                    {{ form_widget(form.prefDrinkBrand1, { 'attr' : { 'class': 'form-text auto-brands', 'placeholder': '' } }) }}
                                    <div class="clear"></div>
                                </div>

                                <div class="group-form margin-top-10 form-text-without-label">
                                    {{ form_widget(form.prefDrinkBrand2, { 'attr' : { 'class': 'form-text auto-brands', 'placeholder': '' } }) }}
                                    <div class="clear"></div>
                                </div>

                                <div class="group-form margin-top-10 form-text-without-label">
                                    {{ form_widget(form.prefDrinkBrand3, { 'attr' : { 'class': 'form-text auto-brands', 'placeholder': '' } }) }}
                                    <div class="clear"></div>
                                </div>

                                <div class="group-form margin-top-10">
                                    <label class="margin-right-20">Categories or cocktails</label>
                                    {{ form_widget(form.prefCocktails1, { 'attr' : { 'class': 'form-text auto-cocktails', 'placeholder': '' } }) }}
                                    <div class="clear"></div>
                                </div>

                                <div class="group-form margin-top-10 form-text-without-label">
                                    {{ form_widget(form.prefCocktails2, { 'attr' : { 'class': 'form-text auto-cocktails', 'placeholder': '' } }) }}
                                    <div class="clear"></div>
                                </div>

                                <div class="group-form margin-top-10 form-text-without-label">
                                    {{ form_widget(form.prefCocktails3, { 'attr' : { 'class': 'form-text auto-cocktails', 'placeholder': '' } }) }}
                                    <div class="clear"></div>
                                </div>

                                <div class="group-checkbox">
                                    <div class="group-form checkbox margin-top-10">
                                        <label class="wrap">{{ form_widget(form.stayInformed,  {'attr': {'class': 'form-checkbox left'}}) }}
                                            Subscribe to our newsletters</label>
                                    </div>

                                    <div class="group-form checkbox margin-top-10">
                                        <label class="wrap">{{ form_widget(form.stayBrandInformed,  {'attr': {'class': 'form-checkbox left'}}) }}
                                            Subscribe to our partners newsletters</label>
                                    </div>
                                </div>
                            {% else %}
                                <div class="subtitle grey">To make further updates, use the desktop version.</div>
                            {% endif %}
                            <div class="clear"></div>
                            {{ form_widget(form._token) }}
                            <div class="group-actions margin-top-40 margin-bottom-50 right">
                                <input type="submit" class="form-submit btn btn-submit text-align-uppercase bold" value="Done editing">
                            </div>
                            <div class="clear"></div>
                            {% if errors.messages|length > 0 %}
                                <div id="message" class="margin-top-20 wrap show">
                                    <div>
                                        <ul>
                                            {% for error in errors.messages %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div> <!-- .margin-top-20 -->
                <div class="clear"></div>
            </div>
        </div> <!-- #editprofile -->
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/wbbcore/css/jquery_ui/jquery-ui.min.css') }}" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/bundles/wbbcore/js/plugins/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/bundles/wbbcore/js/plugins/icheck.min.js"></script>
    <script type="text/javascript" src="/bundles/wbbuser/js/modules/profile.edit.wbb.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.form-checkbox').iCheck({
                checkboxClass: 'icheckbox_flat',
                increaseArea: '20%' // optional
            });

            // init Select 2
            $("select.select2-dropdown").select2({
                minimumResultsForSearch: -1
            });

            // add the search
            $('select.select2-dropdown#fos_user_profile_form_country').select2({
                minimumResultsForSearch: 20
            });

            // Scroll To Error
            {% if errors.messages|length > 0 %}
                if ( ismobile || istablet )
                    $('html, body').animate({scrollTop: $('#message').offset().top }, 500, 'easeInOutCubic');
            {% endif %}
        });
    </script>
{% endblock %}