{% extends '::base.html.twig' %}

{% block body %}
    <div class="full-white">
        <div id="editprofile" class="page {% if is_mobile() and not is_tablet() %}mobile {% endif %}wrap margin-bottom-20">

            <div  class="ui wrap">

                <div class="margin-top-20">
                    <div id="edit-account">
                        <div class="avatar-profil left">
                            <img src="{{  showImage(user.avatar, 'large') }}" height="145" width="145" class="radius-max">
                        </div>
                        <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
                            <div class="group right">
                                <div class="title text-transform-capitalize unbold">
                                    <h5>{{ user.firstname }} {{ user.lastname }}</h5>
                                </div>
                                <div class="subgroup margin-top-10 margin-bottom-40 wrap">
                                    {% if user.prefStartCity or user.country %}
                                        <div class="text-transform-capitalize text-align-center">
                                            <div class="city"><img src="{{ asset('bundles/wbbcore/images/UI/icon_map.jpg') }}">
                                                {% if user.prefStartCity %}
                                                    {{ user.prefStartCity ~ ',' }}
                                                {% endif %}
                                                {% if user.country %}
                                                    {{ user.country }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="text-transform-capitalize text-align-center">
                                            <div class="city"><img src="{{ asset('bundles/wbbcore/images/UI/icon_map.jpg') }}">
                                                Not set
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="form-group">
                                        <div class="file-image wrap">
                                            {{ form_widget(form.avatar, { 'attr' : { 'class': 'form-file no-text' } }) }}
                                        </div>
                                    </div>
                                </div> <!-- .subgroup.right -->
                            </div> <!-- .group.right -->

                            <div class="clear"></div>
                            <div class="select-two margin-top-10">
                                <label class="margin-right-20">Gender</label>
                                <div class="left" style="{% if is_mobile() and not is_tablet() %}width: 100%{% else %}{% if is_mobile() and not is_tablet() %}width: 100%{% else %}width: 300px{% endif %}{% endif %}">
                                    {{ form_widget(form.title, { 'attr' : { 'class': 'ui-dropdown' } }) }}
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="group-form margin-top-10">
                                <label class="margin-right-20">Firstname</label>
                                {{ form_widget(form.firstname, { 'attr' : { 'class': 'form-text', 'placeholder': 'Firstname' } }) }}
                            </div>
                            <div class="group-form margin-top-10">
                                <label class="margin-right-20">Lastname</label>
                                {{ form_widget(form.lastname, { 'attr' : { 'class': 'form-text', 'placeholder': 'Lastname' } }) }}
                            </div>
                            <div class="group-form margin-top-10">
                                <label class="margin-right-20">Email</label>
                                {{ form_widget(form.email, { 'attr' : { 'class': 'form-text', 'placeholder': 'Email' } }) }}
                            </div>
                            <div class="date-birthday text-align-center margin-top-10">
                                <label class="margin-right-20">Date of Birth</label>
                                <div class="select-wrap left">
                                    {{ form_widget(form.birthdate.month, { 'attr' : { 'class': 'ui-dropdown' } }) }}
                                </div>
                                <div class="select-wrap left">
                                    {{ form_widget(form.birthdate.day, { 'attr' : { 'class': 'ui-dropdown', 'placeholder': '' } }) }}
                                </div>
                                <div class="select-wrap left last">
                                    {{ form_widget(form.birthdate.year, { 'attr' : { 'class': 'ui-dropdown' } }) }}
                                </div>
                            </div>
                            <div class="clear"></div>

                            <div class="select-two margin-top-10">
                                <label class="margin-right-20">Country</label>
                                <div class="left" style="{% if is_mobile() and not is_tablet() %}width: 100%{% else %}width: 300px{% endif %}">
                                    {{ form_widget(form.country, { 'attr' : { 'class': 'ui-dropdown' } }) }}
                                </div>
                            </div><!-- #countries -->
                            <div class="clear"></div>

                            <div class="select-two margin-top-10 ui-dropdown-list-form">
                                <label class="margin-right-20 text-align-right unbold">Cities you like to go</label>
                                <div class="left" style="{% if is_mobile() and not is_tablet() %}width: 100%{% else %}width: 300px{% endif %}">
                                    {{ form_widget(form.prefCity1, { 'attr' : { 'class': 'ui-dropdown', 'placeholder': 'Choose a city' } }) }}
                                </div>
                            </div>
                            <div class="clear"></div>

                            <div class="select-two margin-top-10 form-text-without-label ui-dropdown-list-form">
                                <div class="left" style="{% if is_mobile() and not is_tablet() %}width: 100%{% else %}width: 300px{% endif %}">
                                    {{ form_widget(form.prefCity2, { 'attr' : { 'class': 'ui-dropdown', 'placeholder': 'Choose a city' } }) }}
                                </div>
                            </div>
                            <div class="clear"></div>

                            <div class="select-two margin-top-10 form-text-without-label ui-dropdown-list-form">
                                <div class="left" style="{% if is_mobile() and not is_tablet() %}width: 100%{% else %}width: 300px{% endif %}">
                                    {{ form_widget(form.prefCity3, { 'attr' : { 'class': 'ui-dropdown', 'placeholder': 'Choose a city' } }) }}
                                </div>
                            </div>
                            <div class="clear"></div>

                            <div class="select-two margin-top-10 ui-dropdown-list-form">
                                <label class="margin-right-20 text-align-right unbold">Favorite Bars</label>
                                <div class="left" style="{% if is_mobile() and not is_tablet() %}width: 100%{% else %}width: 300px{% endif %}">
                                    {{ form_widget(form.prefBar1, { 'attr' : { 'class': 'ui-dropdown', 'placeholder': 'Choose a bar' } }) }}
                                </div>
                            </div>
                            <div class="clear"></div>

                            <div class="select-two margin-top-10 form-text-without-label ui-dropdown-list-form">
                                <div class="left" style="{% if is_mobile() and not is_tablet() %}width: 100%{% else %}width: 300px{% endif %}">
                                    {{ form_widget(form.prefBar2, { 'attr' : { 'class': 'ui-dropdown', 'placeholder': 'Choose a bar' } }) }}
                                </div>
                            </div>
                            <div class="clear"></div>

                            <div class="select-two margin-top-10 form-text-without-label ui-dropdown-list-form">
                                <div class="left" style="{% if is_mobile() and not is_tablet() %}width: 100%{% else %}width: 300px{% endif %}">
                                    {{ form_widget(form.prefBar3, { 'attr' : { 'class': 'ui-dropdown', 'placeholder': 'Choose a bar' } }) }}
                                </div>
                            </div>
                            <div class="clear"></div>

                            <div class="select-two margin-top-10 ui-dropdown-list-form">
                                <label class="margin-right-20 text-align-right unbold">Drink brands</label>
                                <div class="left" style="{% if is_mobile() and not is_tablet() %}width: 100%{% else %}width: 300px{% endif %}">
                                    {{ form_widget(form.prefDrinkBrand1, { 'attr' : { 'class': 'ui-dropdown', 'placeholder': 'Choose a brand' } }) }}
                                </div>
                            </div>
                            <div class="clear"></div>

                            <div class="select-two margin-top-10 form-text-without-label ui-dropdown-list-form">
                                <div class="left" style="{% if is_mobile() and not is_tablet() %}width: 100%{% else %}width: 300px{% endif %}">
                                    {{ form_widget(form.prefDrinkBrand2, { 'attr' : { 'class': 'ui-dropdown', 'placeholder': 'Choose a brand' } }) }}
                                </div>
                            </div>
                            <div class="clear"></div>

                            <div class="select-two margin-top-10 form-text-without-label ui-dropdown-list-form">
                                <div class="left" style="{% if is_mobile() and not is_tablet() %}width: 100%{% else %}width: 300px{% endif %}">
                                    {{ form_widget(form.prefDrinkBrand3, { 'attr' : { 'class': 'ui-dropdown', 'placeholder': 'Choose a brand' } }) }}
                                </div>
                            </div>
                            <div class="clear"></div>

                            <div class="select-two margin-top-10 ui-dropdown-list-form">
                                <label class="margin-right-20 text-align-right unbold">Categories or cocktails</label>
                                <div class="left" style="{% if is_mobile() and not is_tablet() %}width: 100%{% else %}width: 300px{% endif %}">
                                    {{ form_widget(form.prefCocktails1, { 'attr' : { 'class': 'ui-dropdown', 'placeholder': 'Choose a cocktail' } }) }}
                                </div>
                            </div>
                            <div class="clear"></div>

                            <div class="select-two margin-top-10 form-text-without-label ui-dropdown-list-form">
                                <div class="left" style="{% if is_mobile() and not is_tablet() %}width: 100%{% else %}width: 300px{% endif %}">
                                    {{ form_widget(form.prefCocktails2, { 'attr' : { 'class': 'ui-dropdown', 'placeholder': 'Choose a cocktail' } }) }}
                                </div>
                            </div>
                            <div class="clear"></div>

                            <div class="select-two margin-top-10 form-text-without-label ui-dropdown-list-form">
                                <div class="left" style="{% if is_mobile() and not is_tablet() %}width: 100%{% else %}width: 300px{% endif %}">
                                    {{ form_widget(form.prefCocktails3, { 'attr' : { 'class': 'ui-dropdown', 'placeholder': 'Choose a cocktail' } }) }}
                                </div>
                            </div>
                            <div class="clear"></div>

                            <div class="group-form checkbox margin-top-10">
                                <label class="wrap">{{ form_widget(form.stayInformed,  {'attr': {'class': 'form-checkbox left'}}) }}
                                    Unsubscribe the newsletter</label>
                            </div>

                            <div class="group-form checkbox margin-top-10">
                                <label class="wrap {% if not is_mobile() %}margin-left-40{% endif %}">{{ form_widget(form.stayBrandInformed,  {'attr': {'class': 'form-checkbox left'}}) }}
                                    Unsubscribe the brand newsletter</label>
                            </div>
                            {{ form_rest(form) }}
                            <div class="group-actions margin-top-20 right">
                                <input type="submit" class="form-submit btn btn-submit text-align-uppercase bold" value="Done editing">
                            </div>
                        </form>
                        <div class="clear"></div>
                    </div>
                </div> <!-- .margin-top-20 -->
                <div class="clear"></div>
            </div> <!-- #UI -->
        </div> <!-- #editprofile -->
        <div id="banner-bottom" class="margin-bottom-20 text-align-center">
            <a href="#"><img src="images/UI/banner.jpg" align="center"></a>
        </div> <!--  -->
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/bundles/wbbcore/js/plugins/icheck.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.form-checkbox').iCheck({
                checkboxClass: 'icheckbox_flat',
                increaseArea: '20%' // optional
            });
        });
    </script>
{% endblock %}