{% extends '::base.html.twig' %}
{% block bodyTag %}
<body class="profile">
{% endblock %}
{% block body %}
    <div id="editprofile" class="page full-white {% if is_mobile() and not is_tablet() %} mobile{% endif %}">
        <div class="padding-top-40">
            <div id="view-account">
                <div class="ui tips">
                    <!-- Profile -->
                    <div class="block-top wrap">
                        <div class="avatar-profil radius-max {% if is_mobile() and not is_tablet() %}wrap margin-bottom-20{% else %}left margin-left-30{% endif %}">
                            <img src="{{ showImage(user.avatar, 'avatar_145_145') }}" height="145" width="145" class="radius-max">
                        </div>
                        {% if is_mobile() and not is_tablet() %}<div class="clear"></div>{% endif %}
                        <div class="group left margin-left-30">
                            <div class="title text-transform-capitalize bold {% if is_mobile() and not is_tablet() %}margin-bottom-20{% endif %}">
                                <h5>{{ user.username }}</h5>
                            </div>
                            <div class="subgroup wrap margin-top-10">
                                {% if city %}
                                    <div class="text-transform-capitalize text-align-center margin-top-20">
                                        <div class="city"><img src="{{ asset('bundles/wbbcore/images/UI/icon_map.jpg') }}">
                                            {{ city ~ ',' }}
                                            {% if city.country %}
                                                {{ city.country }}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% elseif user.prefStartCity or user.country %}
                                    <div class="text-transform-capitalize text-align-center margin-top-20">
                                        <div class="city"><img src="{{ asset('bundles/wbbcore/images/UI/icon_map.jpg') }}">
                                            {% if user.prefStartCity %}
                                                {{ user.prefStartCity ~ ',' }}
                                                {{ user.prefStartCity.country }}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="text-transform-capitalize text-align-center margin-top-20">
                                        <div class="city">
                                            &nbsp;
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="btn-editprofile {% if is_mobile() and not is_tablet() %}margin-top-20 margin-bottom-20{% endif %}">
                                    <a href="{{ path('fos_user_profile_edit') }}" class="btn radius-30">Edit Profile</a>
                                </div>
                            </div> <!-- .subgroup.right -->
                        </div> <!-- .group.right -->
                    </div> <!-- .block-top -->
                    <div class="clear"></div>
                    <!-- Filter -->
                    <div class="filter-profil wrap profile-filter-parent-wrapper padding-top-20 {% if is_mobile() and not is_tablet() %}padding-bottom-40 {% else %}padding-bottom-20{% endif %}">
                        <div class="{% if not is_mobile() and is_tablet() %}margin-top-20{% endif %}">
                            <div class="disableClick"></div>
                            {% set favBars = user.favoriteBars|length %}
                            {% set favBestofs = user.favoriteBestOfs|length %}
                            {% set favTips = user.tips|length %}
                            <input type="radio" name="filter" data-count="{{ favBars }}" data-tab="bars" class="ui-radio" data-color="brown" data-type="collapsed" checked="checked"
                                   value="{% if favBars > 0 %}({{ favBars }}) Bar{% if favBars > 1 %}s{% endif %}{% else %}No Bar{% endif %}" />
                            <input type="radio" name="filter" data-count="{{ favBestofs }}" data-tab="bestof" class="ui-radio" data-color="brown" data-type="collapsed"
                                   value="{% if favBestofs > 0 %}({{ favBestofs }}) collection{% if favBestofs > 1 %}s{% endif %}{% else %}No Collection{% endif %}" />
                            <input type="radio" name="filter" data-count="{{ favTips }}" data-tab="tips" class="ui-radio" data-color="brown" data-type="collapsed"
                                   value="{% if favTips > 0 %}({{ favTips }}) tip{% if favTips > 1 %}s{% endif %}{% else %}No Tip{% endif %}"/>
                            <div class="clear"></div>
                        </div>
                    </div> <!-- .filter-profil -->
                    <!-- Separator -->
                    <div class="container hr"><hr></div>
                    <!-- Filters -->
                    <div class="filter-content container">
                        <div class="margin-top-20">
                            <div class="sort-by six columns">
                                <label class="sort left text-transform-uppercase unbold">Sort by :</label>
                                <div class="four columns">
                                    <select class="ui-dropdown light" name="criteria" id="criteria">
                                        <option value="date" data-type="criteria" selected="selected">Date</option>
                                        <option value="alphabetical" data-type="criteria">Alphabetical order</option>
                                        <option value="city" data-type="criteria">City</option>
                                    </select>
                                </div>
                                <div class="loader-profile-flux"></div>
                            </div> <!-- .sort-by -->
                            <div class="filter-view">
                                <div class="right">
                                    <div class="{% if is_mobile() %}margin-right-10{% endif %}">
                                        <input type="radio" name="view-type" value="grid" class="ui-radio with-icon margin-right-20" data-color="brown" checked="checked"/>
                                        <input type="radio" name="view-type" value="list" class="ui-radio with-icon" data-color="brown"/>
                                    </div>
                                </div>
                            </div> <!-- .filter-view -->
                        </div> <!-- .margin-top-20 -->
                    </div> <!-- .container -->
                    <div class="min-height">
                        <div id="tab-bars" class="tab padding-bottom-40 active">
                            <!-- List of Bars -->
                            <section class="bar-filter">
                                <div class="list-bars container profile-fav-block margin-top-20 margin-bottom-20">
                                    {# AJAX LOADING #}
                                </div>
                                <!-- Button See more Bars -->
                                <div class="container">
                                    <div class="more-bars force-load load-container">
                                        <div class="load-target"></div>
                                        <div class="twelve columns align-center m-margin load-more-container">
                                            <a class="h4 btn-radius large border load-more brown" href="#0">See more Bars</a>
                                        </div>
                                    </div>
                                </div>
                             </section>
                        </div><!-- #tab-bars -->
                        <div class="clear"></div>

                        <div id="tab-bestof" class="tab padding-bottom-40" style="display:none">
                            <section class="bar-filter">
                                <!-- List of Bars -->
                                <div class="list-bestof container profile-fav-block margin-top-20 margin-bottom-20">
                                    {# AJAX LOADING #}
                                </div>
                            </section>
                            <!-- Button See more Bars -->
                            <div class="container">
                                <div class="more-bestofs force-load load-container">
                                    <div class="load-target"></div>
                                    <div class="twelve columns align-center m-margin load-more-container">
                                        <a class="h4 btn-radius large border load-more brown" href="#0">See more Collections</a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- #tab-bestof -->
                        <div class="clear"></div>
                        <div id="tab-tips" class="tab" style="display:none">
                            <div class="full-cream padding-bottom-40 min-height">
                                <!-- List of Tips -->
                                <div class="container">
                                    <div>
                                        <ul class="list-tips padding-top-30">
                                        </ul>   
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <!-- Button See more Bars -->
                                <div class="container">
                                    <div class="more-tips force-load load-container">
                                        <div class="load-target"></div>
                                        <div class="twelve columns align-center m-margin load-more-container">
                                            <a class="h4 btn-radius large border load-more brown" href="#0">See more Tips</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- #tab-tips -->
                    </div><!-- .min-height -->
                </div>
            </div><!-- .margin-top-20 -->
            <div class="clear"></div>
        </div>
    </div> <!-- #editprofile -->
    <script>
        $(document).ready(function(){
            new wbb.LoadProfile();
            console.clear();
        });
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/bundles/wbbuser/js/modules/profile.wbb.js"></script>
{% endblock %}

{% block footerAd %}
    {{ render(controller('WBBBarBundle:Ads:show', { 'format': 'UP_728x90' })) }}
{% endblock %}
