
<div class="city-selector h3">
    You are in
    <select class="ui-dropdown" name="city" data-class="with-icon city"id="city_selector">
        <option disabled="disabled">Choose a City</option>
        {% for c in topCities %}
            {% if city is defined %}
            {% if c.name != city %}
                <option data-type="redirect" value="{{ path('city_homepage',{slug:c.slug}) }}">{{ c.name }}</option>
            {% endif %}
            {% else %}
                 <option data-type="redirect" value="{{ path('city_homepage',{slug:c.slug}) }}">{{ c.name }}</option>
            {% endif %}
        {% endfor %}
        <option value="{{ path('city_homepage',{slug:"world-wide"}) }}">World Wide</option>
    </select>

{#                                 <div class="ui-selector">
        <a class="btn-radius brown border with-icon city select" data-tips="Click here to select your location" id="city-selector">
            {% if city is defined %} {{city.name}} {% else %} Choose a city {% endif %}
        </a>
        <div class="selector">
            <span></span>
            <a class="close btn-round brown"></a>
            <ul>
                {% for c in topCities %}
                    {% if city is defined %}
                        {% if city.id != c.id %}
                        <li><a data-type="redirect" href="{{ path('city_homepage',{slug:c.slug}) }}">{{ c.name }}</a></li>
                        {% endif %}
                    {% else %}
                    <li><a data-type="redirect" href="{{ path('city_homepage',{slug:c.slug}) }}">{{ c.name }}</a></li>
                    {% endif %}
                {% endfor %}
                 <li><a data-type="redirect" href="{{ path('city_homepage',{slug:"world-wide"}) }}">World Wide</a></li>
            </ul>
            <a class="btn-radius border brown" href="cities.php">See a list of cities</a>
        </div>
    </div> #}


</div>


{#
    Change Span value if the city is defined
#}
<script type="text/javascript">
    $(function(){
        {% if city is defined %}
            $('.city-selector .city>span').html('{{ city.name }}');
        {% endif %}
    });
</script>