<script type="text/javascript">
    $(function(){
            toGoOutWith_selected = "{{selected.outWith}}";
            city_selected = "{{selected.city}}";
            mood_selected = "{{selected.mood}}";

        var showGo = function(){
            $('.go').removeClass('disabled');
            $('.go').removeAttr('disabled');
        };
       

        // remove Class active on input if is not checked
       $('.trigger-handler').parent('a').on('click' , function(){

                $('.trigger-handler').each(function(){
                if( ! $(this).is(':checked'))
                    $(this).parent('a.ui-radio').removeClass('active');
                });
                showGo();
       });
       
       $('.trigger-select-go').on('change' , showGo);

       $('.go').addClass('disabled');
       $('.go').attr('disabled' , 'disabled');
       // Delete the fake item on the list
       $('.fake-go-item').remove();


       // if already one filter is checked 
      //thene active Go button

      var $gobtn = ('.bar-finder .go');
      if(toGoOutWith_selected !='' || city_selected != '' || mood_selected != '')
            showGo();
    });





</script>
{% if is_tablet() %}
    <style type="text/css">
        section.bar-finder .ui-dropdown.btn-radius.with-icon {width: 176px!important;}
    </style>
{% endif %}
<section class="bar-finder">
    <div class="container">
        <img class="finder-arrow" src="{{ asset('bundles/wbbcore/images/misc/finder.arrow.png') }}" alt="finder.arrow" width="32" height="15"/>
        <div class="twelve columns">
            <a class="finder-close"></a>
            <form action="{{ path('wbb_bar_finder_results') }}" method="post">
                <table>
                    <tr>
                        <td rowspan="2">
                            <h2>Find Your<br/>Best Bar</h2>
                        </td>
                        <td><h3>City</h3></td>
                        <td></td>
                        <td><h3>To go out with</h3></td>
                        <td></td>
                        <td colspan="3"><h3>Mood</h3></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <select class="ui-dropdown dark trigger-select-go" name="city" data-class="with-icon city">
                                <option value="{{selected.city}}">
                                    {% if selected.city !='' %}  {{selected.city == 'all' ? 'All' : selected.city}} {% else %} Choose a City {% endif %}
                                </option>
                                {% if(selected.city != 'all') %}
                                    <option value="all">All</option>
                                {% endif %}
                                {% if city %} <option value="{{ city.slug }}">{{ city.name }}</option> {% endif %}
                                {% for c in cities %}
                                    <option value="{{ c.slug }}" 
                                    {% if selected.city ==  c.slug %} selected {% endif %}
                                    >{{ c.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><img src="{{ asset('bundles/wbbcore/images/misc/chevron.png') }}" alt="chevron" width="8" height="13"/></td>
                        <td>
                            <select class="ui-dropdown dark trigger-select-go" name="go_out" data-class="with-icon friend">
                                <option value="{{selected.outWith}}">{% if selected.outWith !='' %}  {{selected.outWith == 'all' ? 'All' : selected.outWith  }} {% else %}Choose with who {% endif %}</option>
                                {% if(selected.outWith != 'all') %}
                                     <option value="all">All</option>
                                {% endif %}
                                {% for tag in firstTags %}
                                    <option value="{{ tag.id }}"
                                    {% if selected.outWith ==  tag.id %} selected {% endif %}
                                    >{{ tag.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><img src="{{ asset('bundles/wbbcore/images/misc/chevron.png') }}" alt="chevron" width="8" height="13"/></td>
                        <div style='display:none' class='fake-go-item'>
                            <input type="radio" name="mood" value="" class="ui-radio dark with-icon" data-color="brown" checked=""/>
                        </div>

                        {% set curostIndex = 0 %}
                        {% for mood in moods %}
                        {% set curostIndex  = curostIndex + 1 %}
                            <td>
                                <input type="radio" name="mood" data-index="{{ curostIndex }}" data-value="{{ mood |lower }}" value="{{ mood }}" class="mood-item trigger-handler ui-radio dark with-icon" data-color="brown"
                                 {% if selected.mood|lower ==  mood|lower %} checked="checked" {% endif %}
                                />
                            </td>
                        {% endfor %}
                        {#<td>#}
                            {#<input type="radio" name="mood" value="2" class="trigger-handler ui-radio dark with-icon"/>#}
                        {#</td>#}
                        {#<td>#}
                            {#<input type="radio" name="mood" value="1" class="trigger-handler ui-radio dark with-icon"/>#}
                        {#</td>#}

                        <td>
                            <input type="submit" class="btn-radius border brown go" value="GO"/>
                        </td>
                    </tr>
                </table>

                <!-- 
                    SESSION :
                    mood > {{ selected.mood }}
                    selected.outWith > {{ selected.outWith }}
                    city > {{ selected.city }}
                -->
            </form>
        </div>
    </div>
</section>