<script type="text/javascript">
    $(function(){

        /*
        * Select Choose a city
        **/

        $("select.select2-dropdown.finder-city").select2({
            minimumResultsForSearch: 1,
            dropdownCssClass : 'PUT_HERE_YOUR_CLASS'
        });

        // if the page is not bar Finder Result
        // Then clear the select
        if( ! $('.bar-finder-results-container').length && $("select.select2-dropdown.finder-city").length ){
            $("select.select2-dropdown.finder-city").select2({
                placeholder : 'Choose a City',
                allowClear: true
            });

            $("select.select2-dropdown.finder-city").select2('val' , '');
            $("select.select2-dropdown.finder-city").select2('data', null);
        }        


        /*
        * Select Choose with Who
        **/

        $("select.select2-dropdown.finder-choose").select2({
            minimumResultsForSearch: 1,
            dropdownCssClass : 'PUT_HERE_YOUR_CLASS'
        });

        // if the page is not bar Finder Result
        // Then clear the select
        if( ! $('.bar-finder-results-container').length && $("select.select2-dropdown.finder-choose").length ){
            $("select.select2-dropdown.finder-choose").select2({
                placeholder : 'Choose with who',
                allowClear: true
            });

            $("select.select2-dropdown.finder-choose").select2('val' , '');
            $("select.select2-dropdown.finder-choose").select2('data', null);
        }


        toGoOutWith_selected = "{{selected.outWith}}";
        city_selected = "{{selected.city}}";
        mood_selected = "{{selected.mood}}";

        var showGo = function(targetSended){
           var totalSelectedMood =  $('.trigger-handler:checked').length;
               totalSelectedSelect = 0;
           $('select.trigger-select-go').each(function(){
              if( $(this).val() === "" ){
                totalSelectedSelect++;
                $(this).parent('.ui-dropdown-container').find('.ui-dropdown').removeClass('active');
              }else{
                $(this).parent('.ui-dropdown-container').find('.ui-dropdown').addClass('active');
              }
           });
           
           console.log('total slected ' + totalSelectedSelect);
           if(totalSelectedSelect < 2 || totalSelectedMood > 0){
                $('.go').removeClass('disabled');
                $('.go').removeAttr('disabled');
           }else{
            $('.go').addClass('disabled');
            $('.go').attr('disabled' , 'disabled');
           }  

        };
       

        // remove Class active on input if is not checked
       $('.trigger-handler').parent('a').on('click' , function(){

                $('.trigger-handler').each(function(){
                if( ! $(this).is(':checked'))
                    $(this).parent('a.ui-radio').removeClass('active');
                });
                showGo();
       });
       
       $('select.trigger-select-go').on('change' , function(){
            showGo(this);
        });

       $('.go').addClass('disabled');
       $('.go').attr('disabled' , 'disabled');
       // Delete the fake item on the list
       $('.fake-go-item').remove();


       // if already one filter is checked 
      //thene active Go button


      var $gobtn = ('.bar-finder .go');

       showGo();
    });





</script>
{% if is_tablet() %}
    <style type="text/css">
        section.bar-finder .ui-dropdown.btn-radius.with-icon {width: 176px!important;}
    </style>
{% endif %}
<section class="bar-finder">
    <div class="container">
        <img class="finder-arrow" src="{{ asset('bundles/wbbcore/images/misc/finder.arrow.png') }}" alt="finder.arrow" width="32" height="15"/>
        <div class="twelve columns">
            <a class="finder-close"></a>
            <form action="{{ path('wbb_bar_finder_results') }}" method="post">
                <table>
                    <tr>
                        <td rowspan="2">
                            <h2>Find Your<br/>Best Bar</h2>
                        </td>
                        <td><h3>City</h3></td>
                        <td></td>
                        <td><h3>To go out with</h3></td>
                        <td></td>
                        <td colspan="3"><h3>Mood</h3></td>
                        <td></td>
                    </tr>
                    <tr>

                        <td width="200">
                            <select class="{% if is_mobile() or is_tablet() %} ui-dropdown {% else %} select2-dropdown brown with-icon finder-city {% endif %} dark trigger-select-go" name="city" data-class="with-icon city">
                                {% if not is_mobile() and not is_tablet() %} 
                                    <option></option>
                                {% endif %}

                                    <option class="cty0" value="all" {% if(selected.city == 'all') %} selected="selected" {% endif %}>All</option>
                                
                                {% if city %}
                                    <option value="{{ city.slug }}">{{ city.name }}</option>
                                    {% for c in cities %}
                                        {% if city.id != c.id %}
                                            <option class="cty{{ loop.index }}" value="{{ c.slug }}" {% if selected.city == c.slug %} selected="selected" {% endif %}>
                                                {{ c.name }}
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for c in cities %}
                                        <option class="cty{{ loop.index }}" value="{{ c.slug }}" {% if selected.city == c.slug %} selected="selected" {% endif %}>
                                            {{ c.name }}
                                        </option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </td>
                        <td><img src="{{ asset('bundles/wbbcore/images/misc/chevron.png') }}" alt="chevron" width="8" height="13"/></td>
                        <td>
                            <select class="{% if is_mobile() or is_tablet() %} ui-dropdown {% else %} select2-dropdown brown with-icon finder-choose {% endif %} dark trigger-select-go" name="go_out" data-class="with-icon friend">
                                {# <option value="{{selected.outWith}}">{% if selected.outWith !='' %}  {{selected.outWith == 'all' ? 'All' : selected.outWith  }} {% else %}Choose with who {% endif %}</option> #}
                               {% if not is_mobile() and not is_tablet() %} 
                                    <option></option>
                                {% endif %}
                                     <option value="all" {% if(selected.outWith == 'all') %}  selected=" " {% endif %}>All</option>
                                
                                {% for tag in firstTags %}
                                    <option value="{{ tag.id }}"
                                    {% if selected.outWith ==  tag.id %} selected="selected"  {% endif %}
                                    >{{ tag.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><img src="{{ asset('bundles/wbbcore/images/misc/chevron.png') }}" alt="chevron" width="8" height="13"/></td>
                        <div style='display:none' class='fake-go-item'>
                            <input type="radio" name="mood" value="" class="ui-radio dark with-icon" data-color="brown" checked="checked"/>
                        </div>

                        {% set curostIndex = 0 %}
                        {% for mood in moods %}
                        {% set curostIndex  = curostIndex + 1 %}
                            <td>
                                <input type="radio" name="mood" data-index="{{ curostIndex }}" data-value="{{ mood |lower }}" value="{{ mood }}" class="mood-item trigger-handler ui-radio dark with-icon" data-color="brown"
                                 {% if selected.mood|lower ==  mood|lower %} checked="checked" {% endif %}
                                />
                            </td>
                        {% endfor %}
                        {#<td>#}
                            {#<input type="radio" name="mood" value="2" class="trigger-handler ui-radio dark with-icon"/>#}
                        {#</td>#}
                        {#<td>#}
                            {#<input type="radio" name="mood" value="1" class="trigger-handler ui-radio dark with-icon"/>#}
                        {#</td>#}

                        <td>
                            <input type="submit" class="btn-radius border brown go" value="GO"/>
                        </td>
                    </tr>
                </table>

                <!-- 
                    SESSION :
                    mood > {{ selected.mood }}
                    selected.outWith > {{ selected.outWith }}
                    city > {{ selected.city }}
                -->
            </form>
        </div>
    </div>
</section>