{% extends "::base.html.twig" %}
{% set currentPath = url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% set bitlyURL = currentPath| bitly %}

{% block meta %}
    <meta name="description" content="{{ bestOf.seoDescription|slice(0, 150) }}" />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="WorldsBestBars">
    <meta name="twitter:title" content="{{ bestOf.name }} | World Best Bars">
    <meta name="twitter:description" content="{{ "Discover the best " ~ bestOf.name ~ " bars on @WorldsBestBars"|slice(0, 140) }}">
    <meta name="twitter:creator" content="WorldsBestBars">
    <meta property="twitter:url" content="{{ bitlyURL }}" />
    <meta name="twitter:image" content="{{ websiteUrl }}{{ showImage(bestOf.image, 'bestof_370_278', true) }}">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ bestOf.name }} | World Best Bars" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ bitlyURL }}" />
    <meta property="og:description" content="{{ bestOf.seoDescription |slice(0, 200) }}" />
    <meta property="og:site_name" content="World Best Bars" />
    <meta property="fb:admins" content="149071961796732" />
    <meta property="og:image" content="{{ websiteUrl }}{{ showImage(bestOf.image, 'bestof_370_278', true) }}" />

{% endblock %}
{% block title %}World Best Bars{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/wbbbar/js/social-share.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            initializeSliders();
            $(".bars .four:lt(12)").show();
            if($('.bars .four').length>12)
                $(".load-more-container").show();
            var display;   
            $(".load-more").click(function(){
                display = $('.bars .four:visible').length+3;
                $(".bars .four:lt("+divsplay+")").fadeIn(500); 
                if($('.bars .four:hidden').length<=0){
                    $('.load-more-container').hide();
                }
            });   
        });
    </script>
    <style type="text/css">
        .load-more-container {
            display:none;
            margin-bottom: 0 !important;
        }
    </style>
{% endblock %}
{% block bodyTag %}
<body class="best-of-details">
{% endblock %}
{% block body %}

<div>
    <!-- SUBHEADER -->
    <div class="container">
        <section class="sub-header">
            <table>
                <tr>
                    <td></td>
                    <td class="title">
                        <h3>{% if bestOf.city %}{{ bestOf.city.name }}'s Best{% else %}World's Best{% endif %}</h3>
                        <h1>{{ bestOf.name }}</h1>
                        <h3>
                            {{ bestOf.description | raw }}
                        </h3>
                    </td>
                    <td class="star-share">
                        <a data-id="{{ bestOf.id }}" data-type="{{ entity_light_type(bestOf) }}" data-name="{{ bestOf.name }}" href="{{ favorite_url(app.user, bestOf) }}" class="btn-round star brown {% if is_favorite(app.user, bestOf) %}active changed{% endif %}"></a>
                        <a id="share" class="btn-round brown share" href="#0"></a>
                    </td>
                </tr>
            </table>
            <div id="share-pop" class="wrap-share {% if is_mobile() and not is_tablet() %}mobile popup{% endif %}" style="display:none">
                <div class="social-share radius-max">
                    <div class="share-label left bold">SHARE</div>
                    <ul>
                        <li class="left"><a href="#0" class="fb-share">Post</a></li>
                        <li class="left"><a href="#0" class="twitter-share">Tweet</a></li>
                        {% if is_mobile() and not is_tablet() and not is_ios() %}
                            {%  set smsBody = "I just discovered the best "~ bestOf.name ~" bars thanks to www.worldsbestbars.com - the ultimate resource for the best bars in the world Click here to check this Best of: [Best of Page]" ~ bitlyURL %}
                            <li class="left"><a href="sms:?body={{ smsBody }}" id="smsWindow" class="sms-share">SMS</a></li>
                        {% else %}
                            <li class="left">
                                <a href="#0" data-href="{{ path('wbb_share_email_form', {id: bestOf.id, type: 'bestof'}) }}" class="email-share">
                                    Email
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    <div class="clear"></div>
                </div>
                {% if is_mobile() and not is_tablet() %}<a href="javascript:;" id="close-pop" class="close btn-close-brown no-text">close</a>{% endif %}
            </div>
        </section>
    </div>
</div>

<!-- BARS -->
<div class="container bars force-load">
    {% if not bars %}
        {% if not is_mobile() or is_tablet() %}
            {{ render(controller('WBBBarBundle:Ads:show', { 'format': 'BOD_300x250' })) }}
        {% endif %}
    {% endif %}

    {% for b in bars %}
        {% if loop.index==3 and (not is_mobile() or is_tablet()) %}
                {{ render(controller('WBBBarBundle:Ads:show', { 'format': 'BOD_300x250' })) }}
        {% endif %}
        <div class="four columns" style="display:none;">
            {% if bestOf.byTag %}
                {% include "WBBBarBundle:Bar:bar1.html.twig" with {'b': b, 'bestof' : 1 , 'ordered': bestOf.ordered, 'distance': distance} %}
            {% else %}
                {% include "WBBBarBundle:BestOf:bar.html.twig" with {'b': b, 'bestof' : bestOf, 'distance': distance} %}
            {% endif %}
        </div>
    {% endfor %}
</div>
<div class="container load-more-container">
    <div class="twelve columns align-center m-margin load-more-container">
        <a class="h4 btn-radius large border load-more brown" href="#0">Load more</a>
    </div>
</div>

<!-- ALSO LIKE -->
<div class="container also-like l-margin">
        <section class="bestof force-load">
            <div class="align-center l-margin-bottom">
                {% if not is_mobile() or is_tablet() %}
                <hr class="l-margin-bottom"/>
                {% endif %}
                <h1>You may also like</h1>
            </div>
            {% if is_mobile() and not is_tablet() %}
            <div class="ui-slider type-bestof has_sizer arrows dots" data-size="4x3" data-display="1">
            {% endif %}
                {% for b in bestofs |slice(0,3) %}
                    <div class="four columns {% if is_mobile() and not is_tablet() %}ui-slide{% endif %}">
                        {% include "WBBBarBundle:Bar:bestof.html.twig" with { 'b': b } %}
                    </div>
                {% endfor %}
            {% if is_mobile() and not is_tablet() %}
            </div>
            {% endif %}
        </section>
</div>
{% endblock %}

{% block footerAd %}
{{ render(controller('WBBBarBundle:Ads:show', { 'format': 'BOD_728x90' })) }}
{% endblock %}