{% extends "::base.html.twig" %}
{% block meta %}<meta name="description" content="World Best Bars" />{% endblock %}
{% block title %}World Best Bars{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            initializeSliders();
            $(".bars .four:lt(12)").show();
            if($('.bars .four').length>12)
                $(".load-more-container").show();
            var display;   
            $(".load-more").click(function(){
                display = $('.bars .four:visible').length+3;
                $(".bars .four:lt("+display+")").fadeIn(500); 
                if($('.bars .four:hidden').length<=0){
                    $('.load-more-container').hide();
                }
            });   
        });
    </script>
    <style type="text/css">
        .load-more-container {
            display:none;
            margin-bottom: 0 !important;
        }
    </style>
{% endblock %}
{% block bodyTag %}
<body class="best-of-details">
{% endblock %}
{% block body %}

<div>
    <!-- SUBHEADER -->
    <div class="container">
        <section class="sub-header">
            <table>
                <tr>
                    <td></td>
                    <td class="title">
                        <h3>{% if bestOf.city %}{{ bestOf.city.name }}'s Best{% else %}World's Best{% endif %}</h3>
                        <h1>{{ bestOf.name }}</h1>
                        <h3>
                            {{ bestOf.description | raw }}
                        </h3>
                    </td>
                    <td class="star-share">
                        <a data-type="{{ entity_light_type(b) }}" data-name="{{ bestOf.name }}" href="{{ favorite_url(app.user, bestOf) }}" class="btn-round star {% if is_favorite(app.user, bestOf) %}active brown changed{% endif %}"></a>
                        <a class="btn-round brown share" href=""></a>
                    </td>
                </tr>
            </table>
        </section>
    </div>
</div>

<!-- BARS -->
<div class="container bars force-load">
    {% for b in bars %}
        {#{% if loop.index==3 and (not is_mobile() or is_tablet()) %}
            <div class="four columns">
                <div class="block">
                    <div class="side-ad">
                        <img src="{{ asset('bundles/wbbcore/images/tmp/ad.side.jpg') }}" alt="ad.jameson" width="300" height="250"/>
                        <div class="txt">Advertising</div>
                    </div>
                </div>
            </div>
        {% endif %}#}
        {% if not is_mobile() or is_tablet() %}
            {{ render(controller('WBBBarBundle:Ads:show', { 'format': 'BOD_300x250' })) }}
        {% endif %}
        <div class="four columns" style="display:none;">
            {% if bestOf.byTag %}
                {% include "WBBBarBundle:Bar:bar1.html.twig" with {'b': b, 'bestof' : 1 , 'ordered': bestOf.ordered, 'distance': distance}
                %}
            {% else %}
                {% include "WBBBarBundle:BestOf:bar.html.twig" with {'b': b, 'bestof' : bestOf, 'distance': distance}
                %}
            {% endif %}
        </div>
    {% endfor %}
</div>
<div class="container load-more-container">
    <div class="twelve columns align-center m-margin load-more-container">
        <a class="h4 btn-radius large border load-more brown" href="#0">Load more</a>
    </div>
</div>

<!-- ALSO LIKE -->
<div class="container also-like l-margin">
        <section class="bestof force-load">
            <div class="align-center l-margin-bottom">
                {% if not is_mobile() or is_tablet() %}
                <hr class="l-margin-bottom"/>
                {% endif %}
                <h1>You may also like</h1>
            </div>
            {% if is_mobile() and not is_tablet() %}
            <div class="ui-slider type-bestof has_sizer arrows dots" data-size="4x3" data-display="1">
            {% endif %}
                {% for b in bestofs |slice(0,3) %}
                    <div class="four columns {% if is_mobile() and not is_tablet() %}ui-slide{% endif %}">
                        {% include "WBBBarBundle:Bar:bestof.html.twig" with { 'b': b } %}
                    </div>
                {% endfor %}
            {% if is_mobile() and not is_tablet() %}
            </div>
            {% endif %}
        </section>
</div>
{% endblock %}

{% block footerAd %}
{{ render(controller('WBBBarBundle:Ads:show', { 'format': 'BOD_728x90' })) }}
{% endblock %}