{% block body_html %}

<!-- Inliner Build Version 4380b7741bb759d6cb997545f3add21ad48f010b -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
  </head>
  <body style="width: 100% !important; min-width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0; padding: 0;">

    <table class="body" bgcolor="#faf3e1" style="font-family: Verdana, Arial; width: 100%; border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; height: 100%; color: #222222; font-weight: normal; line-height: 19px; font-size: 14px; background: #faf3e1; margin: 0; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="center" align="center" valign="top" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;">
      <center style="width: 100%; min-width: 580px;">

          <!-- HEADER -->
          <table bgcolor="#333333" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; height: 100%; width: 100%; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; background: #333333; margin: 0; padding: 0;">
            <tr style="vertical-align: top; text-align: center; padding: 0;" align="center">

              <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="center" valign="top">

                <br /><!-- Break Tag for row -->
                  <a href="{{ url('homepage') }}" style="display: block; color: #fedf9f; text-decoration: underline;">
                    <img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/wbbcore/images/email/logo_email.jpg') }}" align="center" class="center" height="87" width="167" style="text-align: center; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: none; clear: both; display: inline; border: none;" /></a>
                <br /><!-- Break Tag for row -->

                </td>
              <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="center" valign="top">
              </td>
            </tr>
          </table>
          
          <!-- CONTENT -->
          <table class="container" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 580px; margin: 0 auto; padding: 0;">
            <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
              <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="left" valign="top">
              
              <br /><!-- Break Tag for row -->

              <table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="wrapper" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 20px 0px 0px;" align="left" valign="top">
                    <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; margin: 0 auto; padding: 0;"><!-- CONTENT -->
                        {% block body_content %}{% endblock %}
                    <!-- CONTENT -->
                    </table></td>
                </tr></table><br /><!-- container end below --></td>
            </tr>
          </table>
    
      </center></td></tr></table>
      <table class="body" bgcolor="#333333" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 580px; margin: 0 auto; padding: 0;">
        <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
          <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="left" valign="top">
          <center style="width: 100%; min-width: 580px;">
            <!-- FOOTER -->
            <table class="row" bgcolor="#333333" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 580px; background: #333333; margin: 0 auto; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
              <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="left" valign="top">
              
              <br /><!-- Break Tag for row -->
              
                  <table class="row" height="60" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px; border-bottom-width: 1px; border-bottom-style: solid; border-color: #49453f; height: 60px;">
                    <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                      
                      <td class="wrapper offset-by-two" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 20px 0px 100px;" align="left" valign="top">
                        <table class="six columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 280px; margin: 0 auto; padding: 0;">
                          <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                            <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;" align="left" valign="top">

                              <p class="copyright" style="text-align: center; color: #fedf9f; font-size: 14px; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; margin: 5px 0 0; padding: 0;" align="center">© {{ "now"|date("Y") }} World's Best Bars</p>

                            </td>
                            <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="left" valign="top"></td>
                          </tr>
                        </table>
                      </td>

                      <td class="wrapper offset-by-two last hide-for-small" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 0px 0px 100px;" align="left" valign="top">
                        <table class="six columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 280px; margin: 0 auto; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td align="center" valign="middle" class="fix sub-columns" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; min-width: 0px; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 10px 10px 0px;">
                              <a href="https://www.facebook.com/worldsbestbars" style="float: left; display: inline; text-align: center; text-decoration: none; border-right-width: 10px; border-right-style: solid; border-color: transparent;  color: #fedf9f;">
                                <img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/wbbcore/images/email/icon_fb.jpg') }}" style="border-right-width: 10px; float: left; display: inline-block; clear: none: !important; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; border-color: transparent; border-style: none solid none none;" align="left" /></a>
                              <a href="https://twitter.com/WorldsBestBars" style="float: left; display: inline; text-align: center; text-decoration: none; border-right-width: 10px; border-right-style: solid; border-color: transparent;  color: #fedf9f;">
                                <img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/wbbcore/images/email/icon_twiter.jpg') }}" style="border-right-width: 10px; float: left; display: inline-block; clear: none: !important; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; border-color: transparent; border-style: none solid none none;" align="left" /></a>
                              <a href="http://instagram.com/worldsbestbars" style="float: left; display: inline; text-align: center; text-decoration: none; border-right-width: 10px; border-right-style: solid; border-color: transparent;  color: #fedf9f;">
                                <img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/wbbcore/images/email/icon_viadeo.jpg') }}" style="border-right-width: 10px; float: left; display: inline-block; clear: none: !important; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; border-color: transparent; border-style: none solid none none;" align="left" /></a>
                              <a href="http://www.pinterest.com/worldsbestbars" style="float: left; display: inline; text-align: center; text-decoration: none; border-right-width: 10px; border-right-style: solid; border-color: transparent;  color: #fedf9f;">
                                <img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/wbbcore/images/email/icon_pinterest.jpg') }}" style="border-right-width: 10px; float: left; display: inline-block; clear: none: !important; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; border-color: transparent; border-style: none solid none none;" align="left" /></a>
                            </td>

                            <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="left" valign="top"></td>
                          </tr>
                        </table>
                      </td>

                    </tr>
                  </table><br /><!-- container end below -->

                  </td>
                </tr>
                <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
                  <td class="wrapper" align="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 20px 0px 0px;" valign="top">
                    <p align="center" style="color: #fedf9f; font-size: 13px; font-family: Verdana, Arial; text-align: center; font-weight: normal; line-height: 19px; margin: 0 0 10px; padding: 0;">
                      If you do not wish to receive emails from us anymore please
                      <a href="#unsubsribe" style="color: #fedf9f; font-family: Verdana, Arial; text-decoration: underline;">
                      click here
                      </a>
                    </p>
                  </td>
                  <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="left" valign="top"></td>
                </tr>
            </table>
          </center>
        </td></tr>
      </table>
    </body>
</html>

{% endblock %}