{% extends "::base.html.twig" %}
{% block title %}{{ news.title }} | World Best Bars{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            initializeSliders();
        });
    </script>
    {% if is_mobile() and not is_tablet() %}
    <style type="text/css">
        .ui-slider .arrows {
            display: none !important;
        }
        .ui-slider .ui-wrapper {
            height: 350px;
        }
    </style>
    {% endif %}
{% endblock %}
{% block bodyTag %}
<body class="news-details">
{% endblock %}
{% block body %}
    <div>
    <!-- SUBHEADER -->
    <div class="container">
        <section class="sub-header">
            <table>
                <tr>
                    {% if not is_mobile() or is_tablet() %}
                        <td>
                           {# {% if news.city %}
                                {% if news.city.onTopCity %}#}
                                    <div class="city-selector h3">
                                        You are in
                                        <a class="btn-radius with-icon border brown city" href="{{ path('city_homepage',{slug:'world-wide'}) }}">World Wide</a>
                                    </div>
                                {#{% endif %}
                           {% endif %}#}
                        </td>
                    {% endif %}
                    <td class="title">
                        <h1 itemprop="name">{{ news.title }}</h1>
                    </td>

                    <td class="star-share">
                        <a class="btn-round brown star" href="#0"></a><a class="btn-round brown share" href="#0"></a>
                    </td>
                </tr>
            </table>
        </section>
    </div>
    <div class="container">
        <section class="content">
            <!-- MAIN CONTENT -->
            <article class="main">
                {% if not is_mobile() or is_tablet() %}
                <div class="eight columns">
                {% endif %}
                    {% for m in news.medias|slice(0,1) %}
                        <img src="{% path m.media, 'slider_large' %}" class="{% if not is_mobile() or is_tablet() %}l-margin-bottom{% else %}s-margin-bottom{% endif %}" width="100%" alt="{{ news.title }}"/>
                    {% endfor %}
                {% if is_mobile() and not is_tablet() %}
                    <div class="eight columns">
                {% endif %}
                    {% if is_mobile() and not is_tablet() %}
                        {% if news.sponsorImage %}
                            <div class="block">
                                <img src="{% path news.sponsorImage, 'slider_large' %}" class="s-margin-bottom" alt="{{ news.sponsor }}" width="100%" />
                            </div>
                        {% endif %}
                    {% endif %}
                    <p>
                        {{ news.richDescription|raw }}
                    </p>
                    {% if news.sponsor %}<div class="sponsor-name l-margin-top"><strong>Brought to you by </strong> {{ news.sponsor }}</div>{% endif %}
                    <div class="share-btns l-margin-top full">
                        <hr/>
                        <h2 class="m-margin-top {% if is_mobile() and not is_tablet() %}align-center{% endif %}">SHARE THIS NEW</h2>
                        <div class="social-share s-margin-top">
                            <a href="#0" class="fb-share">Post</a>
                            <a href="#0" class="twitter-share">Tweet</a>
                            <a href="#0" class="email-share">Email</a>
                        </div>
                    </div>
                </div>
                <!-- ASIDE -->
                <aside class="columns four">
                    {% if not is_mobile() or is_tablet() %}
                        {% if news.sponsorImage %}
                        <div class="block">
                                <img src="{% path news.sponsorImage, 'slider_large' %}" alt="{{ news.sponsor }}" width="100%" />
                        </div>
                        {% endif %}
                    {% endif %}
                    <!-- NEWLY ADDED BARS -->
                    <aside {% if is_mobile() and not is_tablet() %}class="l-margin-top"{% endif %}>
                        <hr/>
                        {% if news.sponsorImage %}
                        <div class="h1 m-margin-bottom color-brown {% if is_mobile() and not is_tablet() %}align-center m-margin-top {% else %}l-margin-top{% endif %}">
                        {% else %}
                        <div class="h1 m-margin-bottom color-brown {% if is_mobile() and not is_tablet() %}align-center m-margin-top {% else %}l-margin-top{% endif %}">
                        {% endif %}
                                Newly Added Bars
                        </div>
                            {% for b in latestBars %}
                                {% include "WBBBarBundle:Bar:bar2.html.twig" with { 'b': b } %}
                            {% endfor %}
                            {#{% if news.city %}#}
                                {#<a class="btn-radius border brown h4 s-margin-top" href="{{ path('wbb_bar_guides_city',{slug:news.city.slug}) }}">See all bars</a>#}
                            {#{% else %}#}
                                <a class="btn-radius border brown h4 s-margin-top" href="{{ path('wbb_bar_guides_city',{slug:"world-wide"}) }}">See all bars</a>
                            {#{% endif %}#}

                    </aside>
                    {% if not is_mobile() or is_tablet() %}
                        <div class="block">
                            <div class="side-ad l-margin-top">
                                <img src="{{ asset('bundles/wbbcore/images/tmp/ad.side.jpg') }}" alt="ad.jameson" width="300" height="250"/>
                                <div class="txt">Advertising</div>
                            </div>
                        </div>
                    {% endif %}
                </aside>
            </article>
        </section>
    </div>
    <!-- ALSO LIKE -->
    <section class="also-like force-load">
        <div class="container m-padding-bottom">
            <div class="twelve columns l-margin-top">
            <hr/>
            <div class="h1 m-margin-bottom color-brown  align-center {% if is_mobile() and not is_tablet() %}m-margin-top {% else %}l-margin-top{% endif %}">
               You May Also Like
            </div>

                <div class="container full {% if not is_mobile() or is_tablet() %}m-margin-top{% endif %}">

                    <!-- 12 COLS -->
                    {% if is_mobile() and not is_tablet() %}
                    <div class="ui-slider articles older-news has_sizer arrows dots l-margin-bottom" data-size="4x3" data-display="1">
                    {% else %}
                    <div class="articles older-news">
                    {% endif %}
                    {% if is_mobile() and not is_tablet() %}<div class="ui-slide">{% endif %}
                    {% for n in alsoLike|slice(0,1) %}
                        {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'is_small' : 1, 'has_image' : 1 } %}
                    {% endfor %}
                    {% if is_mobile() and not is_tablet() %}</div>{% endif %}
                    {% if is_mobile() and not is_tablet() %}<div class="ui-slide">{% endif %}
                    {% for n in alsoLike|slice(1,1) %}
                        {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'is_small' : 1, 'has_text' : 1 } %}
                    {% endfor %}
                    {% if is_mobile() and not is_tablet() %}</div>{% endif %}
                    {% if is_mobile() and not is_tablet() %}<div class="ui-slide">{% endif %}
                    {% for n in alsoLike|slice(2,1) %}
                        {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'is_small' : 1, 'has_image' : 1 } %}
                    {% endfor %}
                    {% if is_mobile() and not is_tablet() %}</div>{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}