{% extends "::base.html.twig" %}
{% block meta %}
    <meta name="description" content="World Best Bars"/>{% endblock %}
{% block title %}World Best Bars{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            initializeSliders();
            $(".older-news article:lt(3)").show();
            if($('.older-news article').length>3)
                $(".load-more-container").show();
            else
                $(".load-more-container").hide();
            var display;
            $(".load-more").click(function(){
                display = $('.older-news article:visible').length+3;
                $(".older-news article:lt("+display+")").fadeIn(500);
                if($('.older-news article:hidden').length<=0){
                    $('.load-more-container').hide();
                }
            });
            $(".footer-ad:eq(1)").css('display', 'none');
        });
    </script>
    <style type="text/css">
        .footer-ad:last-child {
            display: none !important;
        }
        .older-news article {
            display: none;
        }

    </style>
{% endblock %}
{% block bodyTag %}
<body class="news">
{% endblock %}
{% block body %}

    <div class="full-cream l-padding-bottom">


        <!-- SUBHEADER -->
        <div class="container">

            <section class="sub-header">

                {% if not is_mobile() or is_tablet() %}
                    <table>
                        <tr>
                            <td>

                                <div class="city-selector h3"> 
                                    You are in 
                                    <select class="ui-dropdown" name="city" data-class="with-icon city"
                                            id="city_selector">
                                        <option disabled="disabled">Choose a City</option>
                                        {% for c in topCities %}
                                            <option data-type="redirect"
                                                    {# value="{{ path('city_homepage',{slug:c.slug}) }}" #}
                                                    value="{{ path('wbb_news_landing_page_city',{citySlug:c.slug}) }}"
         {#                                                {% if city is defined %}
                                                        {% if city.name == city %}
                                                        selected="selected"
                                                        {% endif %}
                                                        {% endif %} #}
                                                    >{{ c.name }}</option>
                                        {% endfor %}
                                        <option value="{{ path('city_homepage',{slug:"world-wide"}) }}">World Wide
                                        </option>
                                    </select>
                                </div>

                            </td>

                            <td class="title">
                                <h1>The Latest News {% if city is defined %}
                                in {{ city }}
                                {% endif %}
                                </h1>
                            </td>

                            <td></td>
                        </tr>
                    </table>
                {% else %}
                    <h1>Discover the World’s Best Bars</h1>
                {% endif %}
            </section>

        </div>


        <!-- LATEST NEWS -->
        <div class="container full">

            <section class="bars">
                {% if not is_mobile() or is_tablet() %}
                <div class="ui-slider type-bar has_sizer arrows dots" data-size="12x3" data-display="3">
                    {% else %}
                    <div class="ui-slider type-bar has_sizer arrows dots" data-size="4x3" data-display="1">
                        {% endif %}
                        {% for n in latest %}
                            <div class="ui-slide">
                                {% include "WBBBarBundle:News/blocks:thumb_article.html.twig" with { 'n' : n } %}
                            </div>
                        {% endfor %}
                    </div>
            </section>
        </div>
    </div>

    <!-- EDITOR'S PICK -->
    <div class="container l-margin-top {% if is_mobile() and not is_tablet() %}s{% else %}m{% endif %}-padding-bottom">

        <div class="twelve columns h1 m-margin-bottom color-brown {% if is_mobile() and not is_tablet() %}align-center{% endif %}">
            Editor's Picks
        </div>

        <!-- 8 COLS -->
        <section class="articles padding eight columns">
            {% for n in articles|slice(0,1) %}
                {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'has_image' : 1, 'has_text' : 1 } %}
            {% endfor %}
            {% for n in articles|slice(1,1) %}
                {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'is_small' : 1, 'has_image' : 1 } %}
            {% endfor %}
            {% for n in interviews|slice(0,1) %}
                {% include "WBBBarBundle:News/blocks:interview.html.twig"  with { 'n' : n , 'has_quote' : 1 } %}
            {% endfor %}
            {% for n in articles|slice(2,1) %}
                {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'has_image' : 1, 'has_text' : 1 } %}
            {% endfor %}

        </section>

        <!-- 4 COLS -->
        {% if not is_mobile() or is_tablet() %}
            <aside class="articles padding four columns">
                <div class="block ads-pannel">
                    <div class="side-ad m-margin-top">
                        <img src="{{ asset('bundles/wbbcore/images/tmp/ad.side.jpg') }}" alt="ad.jameson" width="300"
                             height="250"/>

                        <div class="txt">Advertising</div>
                    </div>
                </div>
                {%  if not bigAd %}
                    {% for n in interviews|slice(1,1) %}
                        {% include "WBBBarBundle:News/blocks:interview.html.twig"  with { 'n' : n , first : true } %}
                        {# {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n } %} #}
                    {% endfor %}
                {%  endif %}

                {% for n in interviews|slice(2,1) %}
                {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'has_image' : 1 } %}
                    {# {% include "WBBBarBundle:News/blocks:interview.html.twig"  with { 'n' : n } %} #}
                {% endfor %}

                {% for n in articles|slice(3,1) %}
                    {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'has_image' : 1 } %}
                {% endfor %}

                {% for n in interviews|slice(3,1) %}
                    {# {% include "WBBBarBundle:News/blocks:interview.html.twig"  with { 'n' : n } %} #}
                    {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'has_image' : 1 } %}
                {% endfor %}

                {% for n in articles|slice(4,1) %}
                    {# {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'has_image' : 1 } %} #}
                    {% include "WBBBarBundle:News/blocks:interview.html.twig"  with { 'n' : n } %}
                {% endfor %}


            </aside>
        {% endif %}
    </div>


    <!-- AD -->
    {% if not is_mobile() or is_tablet() %}
        {% block footerAd %}
            {{ parent() }}
        {% endblock %}
    {% endif %}

    {# 
        Hide the first Block if the adds height is great then 600 px
    #}
    <script type="text/javascript">
        $(function(){
            var adsPannelHeight = $('.ads-pannel').height();
            if(adsPannelHeight > 600){
                $('.firstblock').hide();
            }
        });
    </script>
    <div class="load-container">
        <!-- OLDER NEWS -->
        <div class="container {% if not is_mobile() or is_tablet() %}m-margin-top{% endif %}">
            <!-- 12 COLS -->
            <div class="articles older-news twelve columns">

                {% for n in articles|slice(4,3) %}
                    {% if loop.index == 2 %}
                        {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'is_small' : 1, 'has_text' : 1} %}
                    {%  else %}
                        {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'is_small' : 1, 'has_image' : 1 } %}
                    {%  endif %}
                {% endfor %}

                {%  if bigAd %}
                    {% for n in interviews|slice(1,1) %}
                        {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'is_small' : 1, 'has_image' : 1 } %}
                        {# {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n } %} #}
                    {% endfor %}
                {%  endif %}

                {% set newsIndex = 0 %}
                {% for n in newsList %}
                    {% if newsIndex <= 0 %}
                        {% if loop.index0==0 %}
                            {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'is_small' : 1, 'has_image' : 1 } %}
                        {% else %}
                            {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'is_small' : 1, 'has_image' : 1 } %}
                        {% endif %}

                        {% set newsIndex=newsIndex+1 %}
                    {% else %}
                        {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'is_small' : 1, 'has_text' : 1 } %}
                        {% set newsIndex = 0 %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="twelve columns align-center l-margin-bottom load-more-container {% if is_mobile() %}s-margin-top{% endif %}">
            <a class="h4 btn-radius border load-more brown large" href="#0">Older news</a>
        </div>
    </div>
{% endblock %}

